/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
    background: #000 !important;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* Additional globalish things - Steve */
ul { margin: 0; padding: 0; }

p.credit {display: none;}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */


/*
 * SimpleModal Basic Modal Dialog
 * http://www.ericmmartin.com/projects/simplemodal/
 * http://code.google.com/p/simplemodal/
 *
 * Copyright (c) 2010 Eric Martin - http://ericmmartin.com
 *
 * Licensed under the MIT license:
 *   http://www.opensource.org/licenses/mit-license.php
 *
 * Revision: $Id: basic.css 257 2010-07-27 23:06:56Z emartin24 $
 */

#basic-modal-content {display:none;}

/* Overlay */
#simplemodal-overlay {background-color:#000;}

/* Container */
#simplemodal-container {width:770px; color:#bbb; background: #f7f7f7; border-radius: 15px; -moz-border-radius: 15px; -webkit-border-radius: 15px; top: 150px !important; height: auto !important; overflow: hidden; 
-webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
}
#simplemodal-container.smaller {top: 125px !important;}
#simplemodal-container.larger {top: 150px !important;}
#simplemodal-container .simplemodal-wrap { border-radius: 15px; -moz-border-radius: 15px; -webkit-border-radius: 15px;}
#simplemodal-container .simplemodal-data {}
#simplemodal-container code {background:#141414; border-left:3px solid #65B43D; color:#bbb; display:block; font-size:12px; margin-bottom:12px; padding:4px 6px 6px;}
#simplemodal-container a {color:#ddd;}
#simplemodal-container a.modalCloseImg {background:url(x.png) no-repeat; width:34px; height:34px; display:inline; z-index:3200; position:absolute; top:10px; right:10px; cursor:pointer;}
#simplemodal-container h3 {color:#84b8d9;}


/* Slimbox styles */

#lbOverlay {
	position: fixed;
	z-index: 9999;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	cursor: pointer;
}

#lbCenter, #lbBottomContainer {
	position: absolute;
	z-index: 9999;
	overflow: hidden;
	background-color: #fff;
}

.lbLoading {
	background: #fff url(loading.gif) no-repeat center;
}

#lbImage {
	position: absolute;
	left: 0;
	top: 0;
	border: 10px solid #fff;
	background-repeat: no-repeat;
}

#lbPrevLink, #lbNextLink {
	display: block;
	position: absolute;
	top: 0;
	width: 50%;
	outline: none;
}

#lbPrevLink {
	left: 0;
}

#lbPrevLink:hover {
	background: transparent url(prevlabel.gif) no-repeat 0 15%;
}

#lbNextLink {
	right: 0;
}

#lbNextLink:hover {
	background: transparent url(nextlabel.gif) no-repeat 100% 15%;
}

#lbBottom {
	font-family: Verdana, Arial, Geneva, Helvetica, sans-serif;
	font-size: 10px;
	color: #666;
	line-height: 1.4em;
	text-align: left;
	border: 10px solid #fff;
	border-top-style: none;
}

#lbCloseLink {
	display: block;
	float: right;
	width: 66px;
	height: 22px;
	background: transparent url(closelabel.gif) no-repeat center;
	margin: 5px 0;
	outline: none;
}

#lbCaption, #lbNumber {
	margin-right: 71px;
}

#lbCaption {
	font-weight: bold;
}



html{height: 100%; overflow: hidden;}
body {
	background: #333;
    min-width: 1020px;
    height: 100%;
}
.lt-ie8 #welcome .content {
	margin-top: 36px;
}

#campaign-nav-wrapper {
	z-index: 1000;
}
#campaign-nav-wrapper.super {
	z-index: 99999;
}

.container {
	width: 960px;
	position: relative;
	margin: 0 auto;
}

#welcome {
	height: 100% !important;
	width: 100%;
	background: transparent url("BLC-opener.jpg") no-repeat 50% 0;
	display: table;
	min-height: 700px;
	height: 700px;
}
#welcome .container {
	display: table-cell;
	vertical-align: middle;
}
#welcome .content {
	width: 600px;
	margin: -60px auto 0;
	background: rgba(255,255,255, .8);
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	padding:25px;	
}
#welcome p {
	font-family: "Museo Sans W01 500";
	font-size: 18px;
}

#welcome .text h1 {color: #0d94da; font-family: "Museo Sans W01 300", sans-serif; font-size: 34px;  text-shadow: 0 1px 0 rgba(255,255,255,0.8); margin-bottom: 0; margin-top: 36px;}
#welcome .text p {font-family: "Museo Sans W01 300", sans-serif; font-size: 18px; line-height: 28px; text-shadow: 0 1px 0 rgba(255,255,255,0.8); color: #333;}
#welcome .button, #welcome .button:visited {background: #b4d473; border: 1px solid #b4d473; 	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px; font-family: "Museo Sans W01 900", sans-serif; color: #fff; font-size: 18px; line-height: 30px; text-shadow: 0 1px 0 rgba(0,0,0,0.3); box-shadow: inset 0 1px 0 rgba(255,255,255,0.2); padding: 16px 30px; text-decoration: none;
background: -moz-linear-gradient(top, #b4d473 0%, #99b262 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b4d473), color-stop(100%,#99b262));
background: -webkit-linear-gradient(top, #b4d473 0%,#99b262 100%);
background: -o-linear-gradient(top, #b4d473 0%,#99b262 100%);
background: -ms-linear-gradient(top, #b4d473 0%,#99b262 100%);
background: linear-gradient(to bottom, #b4d473 0%,#99b262 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4d473', endColorstr='#99b262',GradientType=0 );
text-align: center;
margin:0 auto; }

#welcome .button:hover, #welcome .button:focus {background: #99b262;}
#welcome .button:active {background: #99b262; box-shadow: none;}

#maps {
	display: none;
	width: 1800px;
	margin: 0 auto;
	position: relative;
}
#maps .actamap {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	zoom: 1;
}
#maps .actamap.active {
	display: block;
}
#maps .map {
	height: 1500px;
	width: 1800px;
	margin: 0 auto;
	position: relative;
	zoom: 1;
}
#maps #blcMap {
	background: url("blcMap.jpg") no-repeat 0 0 transparent;
}


.points .point {
	position: absolute;
	cursor: pointer;
	overflow: hidden;
	z-index: 10;
	top: -50px;
}


.points .point .info {
	position: relative;
	height: 50px;
	width: 40px;
}
.points .point img {
	position: absolute;
}

.points .desc {
	background: #f2ae0c;
    border-bottom: 2px solid #bf890a;
    border-right:  2px solid #bf890a;
    color: #333;
    font-family: "Museo Sans W01 500";
    height: 52px;
    margin: 2px 0 0 15px;
    padding: 0 19px 0 0;
    position: absolute;
    z-index: 5;
    width: 0;
}


.points .desc .text {
	background: none repeat scroll 0 0 #f2ae0c;
	padding: 6px 0 2px 35px;
}


#maps #legend {
	position: absolute;
	top: 150px;
	left: 36px;
	width: 275px;
	height: 105px;
	background: #f7f7f7;
	border-radius: 10px; 
	-moz-border-radius: 10px; 
	-webkit-border-radius: 10px; 
	border: 2px solid #d3d3cb;
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.2);
	z-index: 20;
}
#maps #legend ul {margin-bottom: 6px;}

#maps #legend .choose {
	color: #0d94da;
    font-family: "Museo Sans W01 900";
    font-size: 16px;
    line-height: 16px;
    padding: 20px 20px 16px;
    text-transform: uppercase;
}
#maps #legend li {
	cursor: pointer;
    font-family: "Museo Sans W01 500";
    font-size: 16px;
    list-style-type: none;
    padding: 9px 0 9px 20px;
    position: relative;
	color: #95958e;
}
#maps #legend li:hover, #maps #legend li:focus {
	color: #292920;
}
#maps #legend .active {
	color: #F0F0EC;
	background: #b4d473;
	background-image: -ms-linear-gradient(top, #b4d473 0%, #99b262 100%);
	background-image: -moz-linear-gradient(top, #b4d473 0%, #99b262 100%);
	background-image: -o-linear-gradient(top, #b4d473 0%, #99b262 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #b4d473), color-stop(1, #99b262));
	background-image: -webkit-linear-gradient(top, #b4d473 0%, #99b262 100%);
	background-image: linear-gradient(to bottom, #b4d473 0%, #99b262 100%);
    text-shadow: 0 1px 0 rgba(0,0,0,0.2);
    	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;

}
#maps #legend .active:hover, #maps #legend .active:focus {
	color: #F0F0EC;
}

#maps #legend .sub {
	margin: 26px 0 9px 20px;
}
#maps #legend span {
	font-family: "Museo Sans W01 900";
	font-size: 12px;
	color: #12ABC5;
	cursor: pointer;
	background: none repeat scroll 0 0 transparent;
    border: medium none;
}
#maps #legend .sub span:first-child,
#maps #legend .sub span:nth-child(2)
 {
	padding-right: 10px;
	border-right: 1px solid #D3D3CB;
}
#maps #legend .sub span:nth-child(2) {
	padding-left: 10px;
}
#maps #legend .sub span:last-child {
	padding-left: 5px;
}

#maps #legend span:hover, #maps #legend span:focus {
	color: #292920;
}
#instructions div {
	width: 740px;
	vertical-align: top;
	margin-left: 34px;
}
#instructions div img {
	float: left;
	padding: 18px 36px 36px 0;
}
#instructions h2 {
	color: #9A9A90;
	text-transform: uppercase;
	font-family: "Museo Sans W01 900";
	font-size: 16px;
	margin-left: 35px;
	padding-top: 86px;
}
#instructions h3 {
	color: #55B11D;
	font-family: "Museo Sans W01 900";
	font-size: 22px;
	margin-top: 0
}
#instructions p {
	font-family: "Museo Sans W01 500";
	color: #95958e;
	font-size: 30px;
	margin-bottom: 35px;
}

#datas {
	display: none;
}

.data .title {
	color: #0d94da;
	font-family: "Museo Sans W01 900";
	text-transform: uppercase;
	font-size: 16px;
	width: 125px;
	display: inline-block;
	*display: inline;
	vertical-align: top;
	padding: 32px 0 0 13px;
	zoom: 1;
	margin:0;
	background: none;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
}
.data .detail {
	color: #696961;
	width: 400px;
	display: inline-block;
	*display: inline;
	font-family: "Museo Sans W01 500";
	font-size: 16px;
	padding: 30px 15px 30px 0;
	vertical-align: top;
	zoom: 1;
}
.data .description {
	border-bottom: 1px solid #CFCFC9;
	overflow: hidden;
}
.data .description .detail {
	border-right: 1px solid #CFCFC9;
	min-height: 90px;
}
.data .floor {
	width: 150px;
	height: 150px;
	display: inline-block;
	*display: inline;
	vertical-align: top;
	zoom: 1;
}
.data .floor .value {
	color: #292920;
	padding-top: 35px;
	font-family: "Museo Sans W01 900";
	font-size: 78px;
	line-height: 36px;	
	font-weight: normal;
	zoom: 1;
	margin-left: 55px;
}
.data .floor .value .currency {
	display: block;
	font-size: 16px;
	font-family: "Museo Sans W01 500", sans-serif;
	color: #696961;
	font-weight: normal;
}
.data .photos {
	position: relative;
	margin-bottom: 25px;
}

.data .thumbs-container {
	position: relative;
}

.data .thumbs{
	width: 700px;
	margin: 12px 0 10px 34px;
}
.data .thumbs img {
	margin-right: 25px;
	
}


.banner {
	position: relative;
	text-align: center;
	overflow: hidden;
	-webkit-border-top-left-radius: 12px;
	-webkit-border-top-right-radius: 12px;
	-moz-border-radius-topleft: 12px;
	-moz-border-radius-topright: 12px;
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
	margin:0;
}
.banner img {
	-webkit-border-top-left-radius: 12px;
	-webkit-border-top-right-radius: 12px;
	-moz-border-radius-topleft: 12px;
	-moz-border-radius-topright: 12px;
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
	border: 1px solid #a6a6a0;
	margin:0;
}
.banner .video {
	-webkit-border-top-left-radius: 0;
	-webkit-border-top-right-radius: 0;
	-moz-border-radius-topleft: 0;
	-moz-border-radius-topright: 0;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border: none;
}
.identify .name {
	background: url("bg_header.png") repeat scroll 0 0 transparent;
    bottom: 0;
    left: 0;
    color: #ECECE8;
    font-family: "Museo Sans W01 900", sans-serif;
    font-size: 48px;
    height: 40px;
    line-height: 40px;
    padding: 50px 20px;
    text-align: left;
    text-transform: uppercase;
    width: 100%;
    z-index: 15;
    letter-spacing: -3px;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Mobile styles
   ========================================================================== */
   

.touch #menu {position: fixed; top: 0; left: 0; width: 1000px; z-index: 9999;}
.touch #maps {width: 1000px !important; height: 100% !important; margin: 0; overflow: scroll !important;}
.touch #maps .blcMap {width: 1800px !important; height: 1400px !important; overflow: scroll !important;}
.touch #maps .blcMap .map {position: relative !important; left: 0 !important; top: 0 !important;}

#disqus_thread {
	width: 83%;
	color: #333;
}

#disqus_thread a {
	 color: #333;
}

#container-foot {display:none;}