body, button, input, select, textarea,
p.othercredits,
.explore
 {
	font-family: 'Helvetica W01 Cn', sans-serif;
	font-weight: 400;	
}


h1, h2, h3, h4, h5, h6,
#nav ul li,
.extranames,
.helpbarleft h3,
.dropdown ul,
p.author,
.storynav p,
.otherstories h4,
ul.tabs li a
 {
	font-family: 'Helvetica W01 Cn', sans-serif;
	font-weight: 400;	
}