body, #container-mid {
	background: url('../../images/features/bg-01010.png') repeat !important;
}

#footer-top,
header {
	background: #2a5a6e;
}

#footer-top,
#footer-top h5, #footer-top h5 a,
#sidebar .table h4, #footer-top .table h4 {
	color: #FFF !important;
}

#sidebar .table .spacer, #footer-top .table .spacer {
	background: #FFF;
}

#feature-head {
	background: #2a5a6e url('../../images/features/header-illo.jpg') repeat center top;
	min-height: 930px;
	border-bottom: #003366 25px solid;
}

.feature-intro {
	width: 60%;
	height:615px;
	float:right;
	background: rgba(35,46,55,0.5);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#7F232E37,endColorstr=#7F232E37)"; /* IE8 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7F232E37,endColorstr=#7F232E37);   /* IE6 & 7 */
	}

.textblock {
	margin: 1.5em 5% 1.5em 3%;
	color:#FFFFFF;
	}

.textblock h3 {
	font-family: 'Museo Sans W01 900', Verdana, sans-serif;
	font-size: 9.5em;
	line-height: .83em;
	margin-bottom:.5em;
	letter-spacing:-6px;
	color: #FFF;
	}

h4.tagline {
	font-family: 'Museo Sans W01 900', Verdana, sans-serif;
	line-height: 1.67em;
	margin-bottom:10px;
	font-weight: normal;
	color: #FFF;
}

h4.tagline p {
	font-size: 1.2em;
}
.tagline img {
	margin-top:15px;
	margin-bottom:0;
}

p.credit {
	font-family: 'Museo Sans W01 900', Verdana, sans-serif;
	font-size: 1.5em;
	font-variant: uppercase;
	margin-bottom:0;
}


p.othercredits {
	font-family: 'Museo Sans W01 900', Verdana, sans-serif;
	font-size: 0.875em;
	text-transform: uppercase;
	margin-bottom:0;
	font-style: normal;
}


.dropcap {
	font-family: 'Museo Sans W01 900', Verdana, sans-serif;
	color:#0099ff;
	font-size:5.5em;
	margin-top:10px;
}

.smalldropcap {
	font-family: 'Museo Sans W01 900', Verdana, sans-serif;
	color:#006699;
	font-size:2em;
	margin-top:5px;
}

#feature {
	background: #f7f7f7;
	max-width: 940px;
	margin-top:-315px;
	zoom:1;	
}

#feature .postmaterial {
	font-family: 'Museo Sans W01 300', Verdana, sans-serif;
	border-top: #0099ff 15px solid;
	position:relative;
	line-height:1.5em;
	}
#feature .postmaterial p {
	padding-right:30%;
}

#feature .postmaterial p.opener {
	font-size: 1.125em;
	line-height: 2em;
	color: #666666;
	padding-right:5%;
	margin-top: 30px;
	}

#feature .postmaterial h3 {
	color:#0099ff;
	font-family: 'Museo Sans W01 900', Verdana, sans-serif;
	font-size: 1.75em;
	margin: 0;
}

#feature .postmaterial img {
	background: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	margin: 0 15px;
}

#feature .postmaterial img.floatleft {
	margin-bottom:0;
}

blockquote {
	font-family: 'Museo Sans W01 900', Verdana, sans-serif;
	color:#0099ff;
	float: right;
	width:20%;
	font-size: .8em;

}

#feature .postmaterial blockquote p {
	padding:0;
}

.caption {
	position: relative;
	background-color: #d2a62d;
	width:54%;
	float:right;
	margin-left:25px;
	margin-right: -6%;
	zoom:1;
	}
.caption h4 {
	font-family: 'Museo Sans W01 900', Verdana, sans-serif;
	color: #006699;
	font-size:1.3em;
	padding-top:1em;
	margin-left: 15px;	
}	
	
.bg {
	background-image: url('../../images/features/sidebar1_03.jpg') no-repeat top center;
}

#feature .postmaterial .caption p {
	font-family: 'Museo Sans W01 500', Verdana, sans-serif;
	font-size: 0.9em;
	color: #333;
	margin-right:8%;
	padding:0;
	margin-left: 15px;
	line-height: 1.5em;
	margin-top: 15px;
}

.nonbackground,
.headerbreak {
	display:none;
}

.wysiwyg-read-more-link {
	background: url('../../images/icon_more_less.png') no-repeat;
	background-position: 0 -25px;
	width:150px;
}
a.wysiwyg-read-more-link,
a.wysiwyg-read-more-link:hover,
a.wysiwyg-read-more-link:visited {
	font-size: 16px;
	color:#FFF;
	padding-top: 7px;
}
@media only screen and (max-width: 700px) {
	.feature-intro {
		width:75%;
	}

}

@media only screen and (max-width: 600px) {
	.feature-intro {
		width:100%;
	}
}

@media only screen and (max-width: 500px) {
	.caption,
	blockquote
	 {
		float:none;
		width:80%;
		margin: 15px auto;
	}
	#feature .postmaterial p {
		padding-right: 5%;
	}
}


@media only screen and (max-width: 400px) {
	.textblock {
		font-size:90%;
	}