/* 1.0 Special Classes
___________________________________________________________*/
.orange {
	color:#FF6633;
}
	
.blue {
	color:#06C;
}

.lightblue {
	color: #5399cc;
}

.green {
	color:#CCCC66;
}

.clearboth {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;	
}

.floatleft {
	float:left;
}

.floatright {
	float:right;
}

.video-container { /* Wrap around iFrame and SWF embeds for responsive sizing */
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}

.video-container iframe,  
.video-container object,  
.video-container embed, {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

img a {
	border: none;
	text-decoration:none;
}

/* 2.0 Containers
----------------------------------- */
/* 2.1 Header Container
----------------------------------- */
#container-head {
	width:100%;
	background:rgba(51,51,51,0.82); /* FF3.6+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d1333333', endColorstr='#d1333333',GradientType=0 ); /* IE6-9 */
}

#header {
	width:100%;
	max-width: 960px;
	margin: 0 auto;
	display:block;
}

#header-left {
	width: 38.541666666666667%; /* 370px / 960px */
	min-width: 175px;
	float:left;
}

#header-right {
	width: 61.458333333333333%; /* 590px / 960px */
	float:right;
}

/* 2.2 Content Container
----------------------------------- */
#container-mid {
	width:100%;
}

#main {
	width:100%;
	max-width: 960px;
	margin: 0 auto;
	display: block;
}

#sidebar-right {
	width: 25%; /* 240px / 960px */
	background: rgba(255,255,255,0.7); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80ffffff', endColorstr='#80ffffff',GradientType=0 ); /* IE6-9 */
	float:right;
}

#content {
	width: 72.916666666666667%; /* 700px / 960px */
	margin: 0 1.428571428571429%; /* 10px / 700px */
	background: rgba(255,255,255,0.7); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80ffffff', endColorstr='#80ffffff',GradientType=0 ); /* IE6-9 */
	float: left;
}


/* 2.3 Footer Container
----------------------------------- */
#container-foot {
	background: #a9aaa4 url('../img/footer_repeat.png') repeat-x left top;
	width:100%;
}

#footer {
	width:100%;
	background: #a9aaa4 url('../img/footer_bg.png') no-repeat center bottom;
	max-width: 960px;
	height:179px;
	margin: 0 auto;
	display: block;
	clear: both;
}

#footer-left {
	width: 75%; /* 720px / 960px */
	float: left;
	margin-top:30px;
}

#footer-right {
	width: 25%; /* 240px / 960px */
	float:right;
	margin-top:30px;
}

/* 3.0 Footer Content
----------------------------------- */
/* 3.1 Copyright
----------------------------------- */
#footer small {
	margin:0;
	color:#fff;
}

#footer small a {
	color: #FFF;
	font-size:.8em;
}
	
/* 3.1 Social Media
----------------------------------- */
#social-media {
	list-style:none;
	display:inline;
	height:32px;
	float:right;
}

#social-media li {
	display: block;
	float:left;
}

#social-media .facebook {
	background: url('../img/facebook.png') no-repeat 0 0;
	height:32px;
	width:35px;
}

#social-media .vimeo {
	background: url('../img/vimeo.png') no-repeat 0 0;
	height:31px;
	width:35px;
}

#social-media .rss {
	background: url('../img/rss.png') no-repeat 0 0;
	height:31px;
	width:35px;
}

#social-media .facebook span,
#social-media .vimeo span,
#social-media .rss span {
	position:absolute;
	top:-999em;
}

/* 4.0 Nav
---------------------------------------------*/
/* 4.1 Nav - Main Menu
---------------------------------------------*/
#nav a {
	color:#CCC;
}

#nav ul { /* all lists */
	padding: 0;
	margin: 0;
	list-style: none;
}

#nav ul li {
	margin-right: 10px; /* 35px / 960px */
	font-weight: bold;
	letter-spacing: -5;
	text-transform: uppercase;

}
 
#nav ul li a {
	display: block;
	padding-top: 83px;
	padding-bottom:25px;
	padding-left:10px;
	padding-right:10px;
	color: #fff;

}
 
#nav li { /* all list items */
	float: left;
}

#nav li.current_page_item,
#nav ul li a:hover {
	background: #0099ff;
}

/* 5.0 Header Content
---------------------------------------------*/
/* 5.1 Logo
---------------------------------------------*/
#logo {
	float:right;
	min-width: 175px;
}

#logo img {
	margin:0;
}

/* 5.2 Search Bar and Search Results
___________________________________________________________*/
.searchbar {
    float:right;
    position:relative;
    width: 150px;
    margin-top: 8px;

}
.searchbar input {
    background-color: #b9b9b9;
    color: #999999;
    border:none;
    -moz-border-radius:7px;
	-webkit-border-radius:7px;
	width:150px
}

.searchbar input[type="submit"] {
    background: url('../img/search.png');
    border:none;
    padding:0;
    margin:0;
    position:absolute;
    right:0px;
    top:0px;
    height:25px;
    width: 25px;
    text-indent: -9999px;
}

/* 6.0 Homepage
----------------------------------*/
#homepage {
	width:100%;
	max-width: 960px;
	margin: 0 auto;
	display: block;
	
}

#issue {
	width: 72.916666666666667%; /* 700px / 960px */
	margin-right:1.428571428571429%; /* 10px / 700px */
	background: rgba(255,255,255,0.7); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80ffffff', endColorstr='#80ffffff',GradientType=0 ); /* IE6-9 */
	float: left;
	padding-bottom:100px;
}

#homepage h5, 
#homepage h6 {
	margin: 0;
	line-height: 1.2;
}

#homepage p {
	font-size: 0.625em; /*10px*/
	line-height:1;
	margin:0;

}

#issue p {
	color: #333;
}

#sidebar-right p {
	color: #ffffff;
}
/* 6.1 Homepage Headers
----------------------------------*/
.title-wrapper {
	background: url(../img/leftwrap.png) no-repeat 0 0;
	margin-top:15px;
	margin-left:-1.571428571428571%; /* 10px / 700px */
	padding-bottom:1px;
	color:#ffffff;
	}

.web-wrapper {
	background: url(../img/rightwrap.png) no-repeat 0 0;
	margin-top:15px;
	margin-left:-4.166666666666667%; /* 10px / 240px */
	padding-bottom:20px;
	color:#ffffff;
	}

.title-wrapper h4 {
	padding-top:6px;
}

.title {
	background: #666666;
	margin-left:35px; /* 10px / 700px */
	margin-bottom:0px;
	padding-left: 5px;
	padding-top: 10px;
	padding-bottom:7px;
	padding-right:15px;
}

.web-wrapper h5 {
	padding-top:6px;
	}

.web {
	background: #666666;
	padding-top:7px;
	margin-left:25px; /* 10px / 700px */
	margin-bottom:0px;
	padding-left: 5px;
	padding-right:15px;
	padding-bottom:6px;

}

.extra {
	background: url('../img/extra.png') no-repeat;
	height: 20px;
	width: 20px;
	float:left;
}

/* 6.2 News & Insights
----------------------------------*/
.homearticle {
	width: 30%; /* 210px / 700px */
	padding: 10px 1.428571428571429%; /*10px / 700px */
	float:left;
}

.homethumb {
	float:left;
	padding-right: 2.380952380952381%; /* 5px / 210px */
	margin:0;
}

/* 6.3 Alumni
----------------------------------*/
.alumarticle {
	width: 21.428571428571429%; /*150px /700px */
	padding: 10px 1.428571428571429%; /*10px / 700px */
	float:left;

}
.alumthumb{
	margin-bottom:10px;;
}

/* 6.4 Sidebar
----------------------------------*/
.webarticle {
	margin: 4.17%;
	background: #333333;
}

.webthumb {
	margin-bottom:10px;
	padding:0;
}
.webtext {
	padding:4.545454545454545%;
}



.dean {
	position: relative;
	left:75%;
	width:25%;
	margin-top:-315px;
}
.deantext p {
	color:#ffffff;
}

.deantext {
	width:75%;
	margin-top:-80px;
	padding-left:10px;
	padding-right:10px;
	padding-bottom:10px;
	}