/* 1.0 Special Classes
___________________________________________________________*/

.clearboth {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;	
}

.clearleft {
	clear: left;
}

.clearright {
	clear: right;
}
.floatleft,
.alignleft {
	float:left;
}

.floatright,
.alignright {
	float:right;
}

.video-container { /* Wrap around iFrame and SWF embeds for responsive sizing */
	position: relative;
	padding-top: 1.875em;
	overflow: hidden;
}

.video-container iframe,  
.video-container object,  
.video-container embed, {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

img a {
	border: none;
	text-decoration:none;
}

.dropcap {
	float: left;
	font-size: 3.5em; 
	margin-top: 5px; 
	padding-right: 3px; 
	padding-bottom: 1px; 
}

.smallcap {
	font-variant:small-caps;
	font-size:90%;
}

/* 2.0 Containers
----------------------------------- */
/* 2.1 Header Container
----------------------------------- */
#container-head {
	width:100%;
	background:rgba(51,51,51,0.82); /* FF3.6+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d1333333', endColorstr='#d1333333',GradientType=0 ); /* IE6-9 */
}

#header {
	width:100%;
	max-width: 960px;
	margin: 0 auto;
	display:block;
}

#header-left,
#subheader-left {
	width: 38.541666666666667%; /* 370px / 960px */
	min-width: 175px;
	float:left;
}

#header-right,
#subheader-right {
	width: 61.458333333333333%; /* 590px / 960px */
	float:right;
	position: relative;
}

#subheader-left {
	min-width: 330px;}

/* 2.2 Content Container
----------------------------------- */
#container-mid {
	width:100%;
}

#main {
	width:100%;
	max-width: 960px;
	margin: 0 auto;
	display: block;
}

#sidebar-right {
	width: 25%; /* 240px / 960px */
	background: -moz-linear-gradient(top, rgba(255,255,255,0.7) 0%, rgba(255,255,255,0.7) 75%, rgba(255,255,255,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.7)), color-stop(75%,rgba(255,255,255,0.7)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255,255,255,0.7) 0%,rgba(255,255,255,0.7) 75%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255,255,255,0.7) 0%,rgba(255,255,255,0.7) 75%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(255,255,255,0.7) 0%,rgba(255,255,255,0.7) 75%,rgba(255,255,255,0) 100%); /* IE10+ */
	background: linear-gradient(top, rgba(255,255,255,0.7) 0%,rgba(255,255,255,0.7) 75%,rgba(255,255,255,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
	float:right;
	padding-bottom:25em;
}


/* 2.3 Footer Container
----------------------------------- */
#container-foot {
	width:100%;
	position: relative;
	bottom: 0;
}

#footer {
	width:100%;
	max-width: 960px;
	height:11.188em;
	margin: 0 auto;
	display: block;
	clear: both;
}
#footer-left {
	width: 75%; /* 720px / 960px */
	float: left;
	margin-top: 1.875em;
}

#footer-right {
	width: 25%; /* 240px / 960px */
	float:right;
	margin-top: 1.875em;
}

/* 3.0 Footer Content
----------------------------------- */
/* 3.1 Copyright
----------------------------------- */
#footer p,
#footer p a,
#footer-feature p,
#footer-feature a {
	margin-bottom: 0.938em;
	font-size: 0.85em
}
	
/* 3.1 Social Media
----------------------------------- */
#social-media {
	list-style:none;
	display:inline;
	height:2em;
	float:right;
}

#social-media li {
	display: block;
	float:left;
}


#social-media .facebook {
	background: url('../img/facebook.png') no-repeat 0 0;
	height:32px;
	width:35px;
}

#social-media .vimeo {
	background: url('../img/vimeo.png') no-repeat 0 0;
	height:31px;
	width:35px;
}

#social-media .rss {
	background: url('../img/rss.png') no-repeat 0 0;
	height:31px;
	width:35px;
}

#social-media .facebook a,
#social-media .vimeo a,
#social-media .rss a {
	height:32px;
	width:35px;
}

#social-media .facebook span,
#social-media .vimeo span,
#social-media .rss span {
	visibility: hidden;
}

/* 4.0 Nav
---------------------------------------------*/
/* 4.1 Nav - Main Menu
---------------------------------------------*/

#nav {
	width: 100%;
}
#nav ul { /* all lists */
	padding: 0;
	margin: 0;
	list-style: none;
}

#nav ul li {
	margin-right: 0.625em; /* 35px / 960px */
font-family: 'Helvetica W01 Bd Cn', sans-serif;
	letter-spacing: -5;
	text-transform: uppercase;

}
 
#nav ul li a {
	display: block;
	padding-top: 5.188em;
	padding-bottom:1.563em;
	padding-left:0.625em;
	padding-right:0.625em;
}
 
#nav li { /* all list items */
	float: left;
}



/* 5.0 Header Content
---------------------------------------------*/
/* 5.1 Logo
---------------------------------------------*/
#logo {
	float:right;
	min-width: 360px;
}

#logo img,
#logosub img {
	margin:0;
}

#logosub {
	float:left;
	min-width:330px;
}

/* 5.2 Search Bar and Search Results
___________________________________________________________*/
.searchbar {
    float:right;
    position:absolute;
    right:0;
    width: 150px;
    margin-top: 0.5em;

}
.searchbar input {
    background-color: #b9b9b9;
    color: #999999;
    border:none;
    margin:0;
    -moz-border-radius:7px;
	-webkit-border-radius:7px;
	width:150px
}

.searchbar input[type="submit"] {
    background: url('../img/search.png');
    border:none;
    padding:0;
    margin:0;
    position:absolute;
    right:0px;;
    top:0px;
    height:25px;
    width: 25px;
    text-indent: -9999px;
}

.helpbarright .searchbar {
	margin:0;}

/* 6.0 Homepage
----------------------------------*/
#homepage,
#content {
	width:100%;
	max-width: 960px;
	margin: 0 auto;
	display: block;
	
}

#issue {
	width: 73%; /* 700px / 960px */
	margin-right:1.428571428571429%; /* 10px / 700px */
	background: rgba(255,255,255,0.7); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80ffffff', endColorstr='#80ffffff',GradientType=0 ); /* IE6-9 */
	float: left;
	padding-bottom:6.25em;
}

#homepage h5, 
#homepage h6 {
	margin: 0;
	line-height: 1.2;
}

#homepage p
 {
	font-size: 0.625em; /*10px*/
	line-height:1.3em;
	margin:0;

}

/* 6.1 Homepage Headers
----------------------------------*/
.title-wrapper {
	margin-top:0.938em;
	margin-left:-1.571428571428571%; /* 10px / 700px */
	padding-bottom:0.063em;
	position: relative;
	zoom:1;
	}

.web-wrapper {
	margin-top:0.938em;
	margin-left:-4.166666666666667%; /* 10px / 240px */
	padding-bottom:1.25em;
	position: relative;
	zoom:1;
	}

 {
	padding-top:6px;
}

.title {
	background: #666666;
	-webkit-box-shadow: 2px 1px 3px rgba(50, 50, 50, .7);
	-moz-box-shadow:    2px 1px 3px rgba(50, 50, 50, .7);
	box-shadow:         2px 1px 3px rgba(50, 50, 50, .7);
	margin-left:2.188em; /* 10px / 700px */
	margin-bottom:0;
	padding-left: 0.313em;
	padding-top: 8px;
	padding-bottom:5px;
	padding-right:0.938em;
}

.web-wrapper h5,
.title-wrapper h4 {
	padding-top:6px;
	}

.web {
	background: #666666;	
	-webkit-box-shadow: 2px 1px 3px rgba(50, 50, 50, .7);
	-moz-box-shadow:    2px 1px 3px rgba(50, 50, 50, .7);
	box-shadow:         2px 1px 3px rgba(50, 50, 50, .7);
	padding-top:5px;
	margin-left:25px; /* 10px / 700px */
	margin-bottom:0px;
	padding-left: 5px;
	padding-right:15px;
	padding-bottom:3px;

}

.extra {
	background: url('../img/extra.png') no-repeat;
	height: 20px;
	width: 20px;
	float:left;
}

.extranames {
	padding-top:2px;
	font-size: 0.625em;
font-family: 'Helvetica W01 Bd Cn', sans-serif;
	margin-left: 65px;
	}

.alumarticle .extranames,
.subtext .extranames {
	margin-left:0;
}	

/* 6.2 News & Insights
----------------------------------*/
.homearticle {
	width: 30%; /* 210px / 700px */
	margin: 0.625em 1.428571428571429%; /*10px / 700px */
	float:left;
	height:100px;
}

.homethumb {
	margin-right: 2.380952380952381%; /* 5px / 210px */
	margin-bottom:20px;
	-webkit-box-shadow: 1px 1px 3px rgba(50, 50, 50, 0.64);
	-moz-box-shadow:    1px 1px 3px rgba(50, 50, 50, 0.64);
	box-shadow:         1px 1px 3px rgba(50, 50, 50, 0.64);
}

/* 6.3 Alumni
----------------------------------*/
.alumarticle {
	width: 21.428571428571429%; /*150px /700px */
	padding: 0.625em 1.428571428571429%; /*10px / 700px */
	float:left;

}
.alumthumb{
	margin-bottom:0.625em;
	-webkit-box-shadow: 1px 1px 3px rgba(50, 50, 50, 0.64);
	-moz-box-shadow:    1px 1px 3px rgba(50, 50, 50, 0.64);
	box-shadow:         1px 1px 3px rgba(50, 50, 50, 0.64);

}

/* 6.4 Sidebar
----------------------------------*/
.webarticle {
	margin: 4.17%;
	background: #333333;
}

.webthumb {
	margin-bottom:10px;
	padding:0;
}
.webtext {
	padding:4.545454545454545%;
}

.webtext h5 {
	width:80%;
}

.dean {
	position: relative;
	left:75%;
	width:25%;
	margin-top:-315px;
	zoom:1;
}
.deantext p {
	color:#ffffff;
}

.deantext {
	position: relative;
	width:75%;
	margin-top:-80px;
	padding-left:10px;
	padding-right:10px;
	padding-bottom:14px;
	zoom:1;
	}
	
/* 7.0 - Toolbar & Table of Contents
----------------------------------*/
/* 7.1 - Toolbar Containers
----------------------------------*/
.helpbarcontainer {
	position:fixed;
	top:0;
	height:35px;
	width:100%;
	background: #333333;
	margin: 0 auto;
	z-index: 1000;
}
		
.helpbar {
	width:100%;
	max-width: 960px;
	height:24px;
	margin: 0 auto;
	display: block;
	clear: both;
}

.helpbarleft {
	margin-top: 0.313em;
	width:79%;
	float:left;

}

.helpbarright {
	position: relative;
	margin-top: 0.313em;
	width: 21%;
	float:right;
}

/* 7.2 - Toolbar Buttons/Text
----------------------------------*/
.helpbarleft h3 {
	margin:0;
	color: #ccc;
	font-size: 0.875em;
font-family: 'Helvetica W01 Bd Cn', sans-serif;
	padding: 7px 7px;
}

.highlight {
	margin-left: 0.625em;
	padding: 0.8em;
}

.home {
	height:24px;
	width:24px;
	float:left;
	padding-right:9px;
}


.archive {
	width:24px;
	height:24px;
	float: right;
	padding-left:7px;
}

.toc { 
	position:relative;
	zoom:1;
}

.toc a {
	width:24px;
	height: 24px;}

.snippet {
	margin-left: 2.5%; /* 10px / 400px */
	padding-bottom: 0.625em; /* 10px */
	border-bottom: solid 1px #666664;
}

.snippet p {
	margin-bottom: 0.5em;
}

/* 7.3 - Table of Contents
----------------------------------*/	
ul.menu_options{
	width:350px;
    position:relative;
    left:-30px;;
	background: rgba(51, 51, 51, 0.9);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6333333', endColorstr='#e6333333',GradientType=0 );
    zoom: 1;
	padding:0;
	z-index:300;
}

ul.menu_options li{
	position:relative;
    list-style:none;
    padding:5px;
	opacity: 1;
    
}

.menu_options li:first-child {
    -moz-border-radius-topleft:5px;
    -moz-border-radius-topright:5px;
    -webkit-border-top-left-radius:5px;
    -webkit-border-top-right-radius:5px;
}

.menu_options li:last-child {
    -moz-border-radius-bottomleft:5px;
    -moz-border-radius-bottomright:5px;
    -webkit-border-bottom-left-radius:5px;
    -webkit-border-bottom-right-radius:5px;
}

.menu_options a{
    display:block;
    text-decoration:none;
    padding:5px 5px 20px 5px;
}

.menu_options a:hover {
    background:#44a2e2;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
}

ul.menu_options li a {
	position: relative;
	z-index:2000;
	}

.dropdown { 
	width:90%; 
	position: relative; 
	float: left; 
	margin:0;  
	height:30px; 
	margin-bottom:30px;
	z-index: 1000; 

}

.tocdrop { 
	position: relative; 
	float: left; 
}

.tocdrop select {
	margin-right:10px;
}

ul.dropdown a:hover { 
	color: #000; 
}

.dropdown ul {
	position: relative;
	z-index:2000;
	background: rgba(51, 51, 51, 0.9);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6333333', endColorstr='#e6333333',GradientType=0 );
	zoom: 1;
font-family: 'Helvetica W01 Bd Cn', sans-serif;
    display: none; 
    left: 0; 
    top:0; 
    width: 350px; 
}

.dropdown ul li {
	position:relative;
}

.snippet img {
	max-width: 45px;
}

.scrollbar-pane {
    margin-right: 12px;
}

.scrollbar-handle-container {
    background: #333;
    width: 12px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.scrollbar-handle
 {
    width: 12px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(0,153,255,0.4);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

.scrollbar-handle.move,
.scrollbar-handle:hover {
    background: rgba(0,153,255,0.8);      
}


.scrollbar-handle-up,
.scrollbar-handle-down {
    display:none;
}
/* 8.0 Articles
----------------------------------*/

#article {
	width: 68%; /* 660px / 960px */
	margin-right:1.428571428571429%; /* 10px / 700px */
	background: -moz-linear-gradient(top, rgba(241,248,248,0.7) 0%, rgba(241,248,248,1) 40%, rgba(241,248,248,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(241,248,248,0.7)), color-stop(40%,rgba(241,248,248,1)), color-stop(100%,rgba(241,248,248,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(241,248,248,0.7) 0%,rgba(241,248,248,1) 40%,rgba(241,248,248,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(241,248,248,0.7) 0%,rgba(241,248,248,1) 40%,rgba(241,248,248,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(241,248,248,0.7) 0%,rgba(241,248,248,1) 40%,rgba(241,248,248,1) 100%); /* IE10+ */
	background: linear-gradient(top, rgba(241,248,248,0.7) 0%,rgba(241,248,248,1) 40%,rgba(241,248,248,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */	
	float: left;
	padding-bottom:100px;
}

#article-right {
	width: 30.208333333333333%; /* 290px / 960px */
	background: -moz-linear-gradient(top, rgba(241,248,248,0.7) 0%, rgba(241,248,248,0.7) 75%, rgba(241,248,248,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(241,248,248,0.7)), color-stop(75%,rgba(241,248,248,0.7)), color-stop(100%,rgba(241,248,248,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(241,248,248,0.7) 0%,rgba(241,248,248,0.7) 75%,rgba(241,248,248,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(241,248,248,0.7) 0%,rgba(241,248,248,0.7) 75%,rgba(241,248,248,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(241,248,248,0.7) 0%,rgba(241,248,248,0.7) 75%,rgba(241,248,248,0) 100%); /* IE10+ */
	background: linear-gradient(top, rgba(241,248,248,0.7) 0%,rgba(241,248,248,0.7) 75%,rgba(241,248,248,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
	float:right;
	padding-bottom:50px;
}

.postmaterial {
	font-family: 'Georgia', serif;
	padding: 2em 2.272727272727273%;
	font-size: 1em;
	line-height: 1.6em;
}

.postmaterial ul {
	list-style: square;
	margin-left: 3.25em;
}

.postmaterial li {
	padding-bottom: 0.375em;
}

.postmaterial a,
.postmaterial a:hover
.postmaterial a:visited {
	color: #0099cc;
	font-weight: bold;
	text-decoration:none;
}

.postmaterial h3 {
	font-family: "Georgia", serif;
	font-size: 2.25em;
	font-weight: normal;
	margin-bottom: .8em;
}

.postmaterial h4 {
	font-size: 1.125em;
}

p.author {
font-family: 'Helvetica W01 Bd Cn', sans-serif;
	letter-spacing: .3em;
	text-transform: uppercase;
	margin-bottom: 3px;
	}

p.othercredits {
	font-family: 'Helvetica W01 Cn', sans-serif;
	font-weight: 400;	font-style:italic;
}

.postmaterial img {
	margin: 0;
	-webkit-box-shadow: 1px 1px 3px rgba(50, 50, 50, 0.64);
	-moz-box-shadow:    1px 1px 3px rgba(50, 50, 50, 0.64);
	box-shadow:         1px 1px 3px rgba(50, 50, 50, 0.64);
	max-width: 55%;
}

.postmaterial img.floatleft {
	margin-right: 10px;
	margin-bottom: 10px;
}

.postmaterial img.fullbleed {
	max-width:100%;
}

.fullbleedcaption {
	margin-bottom:50px;
}

.imageblockleft {
	float:left;
	width: 55%;
	background: #f5f4f1;
	margin-right: 1em;
	margin-bottom: 5px;
	-webkit-box-shadow: 1px 1px 3px rgba(50, 50, 50, 0.64);
	-moz-box-shadow:    1px 1px 3px rgba(50, 50, 50, 0.64);
	box-shadow:         1px 1px 3px rgba(50, 50, 50, 0.64);

}

.imageblockright {
	float:right;
	width: 55%;
	background: #f5f4f1;
	margin-left: 1em;
	margin-bottom: 5px;
	-webkit-box-shadow: 1px 1px 3px rgba(50, 50, 50, 0.64);
	-moz-box-shadow:    1px 1px 3px rgba(50, 50, 50, 0.64);
	box-shadow:         1px 1px 3px rgba(50, 50, 50, 0.64);

}

.imageblockrightsmall {
	float:right;
	width: 30%;
	background: #f5f4f1;
	margin-left: 1em;
	margin-bottom: 5px;
	-webkit-box-shadow: 1px 1px 3px rgba(50, 50, 50, 0.64);
	-moz-box-shadow:    1px 1px 3px rgba(50, 50, 50, 0.64);
	box-shadow:         1px 1px 3px rgba(50, 50, 50, 0.64);

}

.imageblockleft img,
.imageblockright img,
.imageblockrightsmall img {
	max-width:100%;
	background: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

p.caption {
	font-size: 0.9em;
	line-height: 1.2em;
	padding-left: 10px;
	margin:0;
	}
p.quote {
	font-size: 0.75em;
	text-align: right;
	font-weight: bold;
	padding-left: 10px;
	margin:0;
	}
	
p.photocredit {
	float:right;
	font-size: 0.8em;
	font-style: italic;
	padding-left: 10px;
	margin:0;
	}
	
.aside {
	margin: 10px auto;
	width:70%;
	padding:1em;
	background: #f5f4f1;
	-webkit-box-shadow: 1px 1px 3px rgba(50, 50, 50, 0.64);
	-moz-box-shadow:    1px 1px 3px rgba(50, 50, 50, 0.64);
	box-shadow:         1px 1px 3px rgba(50, 50, 50, 0.64);

}

.aside h3 {
	font-size:1.875em;
	margin-bottom:1em;
}

.explore {
	font-family: 'Helvetica W01 Cn', sans-serif;
	font-weight: 400;
	}
.explore ul {
	margin-left: 1.1em;
}
.wysiwyg-read-more-link {
	font-size: 11px;
	display: block;
	width: 80px;
	clear: both;
	margin: 0 0 18px;
	background: url('../img/fall11/arrowdown.gif') no-repeat 0px 0px;
	padding-left: 25px;
}
#article-right .web-wrapper {
	margin-left: -2.413793103448276%;
	position: relative;
	zoom:1;
	}

.storynav p {
	text-align: right;
	font-size: 0.625em;
font-family: 'Helvetica W01 Bd Cn', sans-serif;
}

.otherstories,
.subarticle,
.storynav {
	padding: 3.448275862068966%;
}

.otherstories h4 {
	font-size: 1.125em;
font-family: 'Helvetica W01 Bd Cn', sans-serif;
	margin-bottom:0.938em;
	}
#article-right h5,
#article-right h6,
#article-right p,
.snippet h4 {
	margin:0;
	line-height: 1.6em;
}

#article-right .web-wrapper h5 {
	line-height: 1.2em;
}
#article-right p {
	font-size: 0.625em;
	line-height: 1.6em;
}

.subarticle {
	margin-bottom: 0.375em;
	clear: left;
}

.otherstories .subtext {
	margin-bottom: 1em;
	}
/* 9.0 Comments
----------------------------------*/

/* 9.1 Comment Tabs
----------------------------------*/
ul.tabs {
    display: block;
    margin: 0;
    padding: 0;
    border-bottom: solid 1px #ddd;
    list-style: none; }
    
ul.tabs li {
    display: block;
    width: auto;
    height: 30px;
    padding: 0;
    float: left;
    margin-bottom: 0; }
    
ul.tabs li a {
    display: block;
    text-decoration: none;
    width: auto;
    height: 29px;
    padding: 0px 20px;
    line-height: 30px;
    border: solid 1px #ddd;
    border-width: 1px 1px 0 0;
    margin: 0;
    background: #09C;
    font-size: 1em;
font-family: 'Helvetica W01 Bd Cn', sans-serif;
    color:#fff; }
    
ul.tabs li a.active {
    background: #f9fcfc;
    height: 30px;
    position: relative;
    top: -4px;
    padding-top: 4px;
    border-left-width: 1px;
    margin: 0 0 0 -1px;
    color: #09C;
    z-index: 5;
}
    
ul.tabs li:first-child a.active {
    margin-left: 0; }
    
ul.tabs li a {
    border-width: 1px 1px 0 1px;
}    
ul.tabs li:last-child a,
ul.tabs li a,
ul.tabs li a.active {
    -moz-border-radius-topright: 5px;
    -webkit-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -webkit-border-top-left-radius: 5px;
    border-top-left-radius: 5px; }

ul.tabs-content {
    padding-top:15px;
    padding-left: 10px;
    background: #f9fcfc; 
    margin: 0; 
    display: block; 
    list-style: none;
    border-width: 0 1px 1px 1px;
    border: solid 1px #ddd; }
    
ul.tabs-content > li { 
	display:none; }
	
ul.tabs-content > li.active { 
display: block; 
}

/* Clearfixing tabs for beautiful stacking */
ul.tabs:before,
ul.tabs:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }
ul.tabs:after {
  clear: both; }
ul.tabs {
  zoom: 1; }
	  
.comments {
	margin: 2.272727272727273%;
	}
	
p.comment-email,
p.comment-author,
p.comment-comment {
text-align: right;}

.comments input[type="submit"] {
	float:right;
	margin-right:30px;
	}

li#post_comment,
li#view_comments {
	padding-bottom:160px;}

.commentlist {
	font-size: 0.75em;
	line-height: 1.25em;
}

.comment {
	padding: 5px 0;
}
.comment .odd {
	background: #f5f4f1;
	margin-right:10px;
}

.comment .even {
	background: #F9FCFC;
}

.depth-2 {
	padding-left:10%;
}

.depth-3 {
	padding-left: 20%;
}

.share {
	clear:both;
	margin-left: 1em;
	}



h3.letters {
	font-family: "Georgia", serif;
	font-size: 2em;
	font-weight: normal;
	padding-top: 1em;
	padding-left:2.272727272727273%;
	margin-bottom:.8em;
}

h4.letters {
	font-size:1.5em;
	margin-bottom: .8em;
}


.catarticle {
	width:90%;
	float:left;
	padding: 15px;
}

.catarticle img {
	margin-right:15px;
}

.catarticle h5 {
	font-size: 1.25em;
	margin-bottom: 0;
}

.catarticle a p{
	color: #333;
}

.subtext p img,
.catarticle p img {
	display:none;
}
