#feature-head {
	min-height:800px;
	background-position: top;
}

.intro-container {
	max-width:880px;
	}

h3.thin {
	font-size: 4.875em;
	color:#fff;
	font-family: 'Cabin', sans-serif;
	font-weight: 400;
	padding-top:40px;
	margin-bottom:0;
	}

h3.impact {
	float:right;
	font-size: 13em;
	color:#fc0;
	margin-top:0;
	margin-bottom:20px;
	font-family: 'Cabin', sans-serif;
	font-weight: 400;
	font-weight: bold;
	line-height: .65em;

	}

.pullquote p,
p.credit,
p.othercredits {
	color:#FFF;
	font-family: 'Cabin', sans-serif;
	font-weight: 400;
	text-align: justify;
	font-weight: bold;

}

.pullquote p {
	font-size: 1.5em;
	line-height: 2em;
	margin-bottom: 30px;
	clear:right;
	}

p.credit {
	font-size: 1.125em;
	margin-bottom: 15px;
	text-transform: uppercase;
	text-align: center;
}

p.othercredits {
	font-size:0.875em;
	text-transform: uppercase;
	text-align: center;
	font-style: normal;
}

/* ------- Coverstory NAV ------- */
#nav_area {   
position:fixed;   
left: 0px;   
bottom: 0px;   
height: 155px;   
width: 100%;   
padding: 0px 0 20px 0;   
background: #FC0;   
z-index: 9999;
}

#navcover { 	
max-width: 880px; 
margin: 0 auto; 
}

#navcover ul {
list-style: none;
margin-left:100px;
}

#navcover li {
	float:left;
	margin-right:7%;
}

#navcover a:link, #nav a:active, #nav a:visited { 
filter:alpha(opacity=80); 
-moz-opacity: 0.8; 
-khtml-opacity: 0.8; 
opacity: 0.8; 
}

#navcover a:hover {
filter:alpha(opacity=100); 
-moz-opacity: 1.0; 
-khtml-opacity: 1.0; 
opacity: 1.0;
}

#navcover a:hover img{ 
-moz-box-shadow: 0px 0px 15px #ffff00;
  -webkit-box-shadow: 0px 0px 15px #ffff00;
  box-shadow: 0px 0px 15px #ffff00;
  	-webkit-border-radius: 90px;
	-moz-border-radius: 90px;
	border-radius: 90px;

} 

#nav_tab {   
position: fixed;   
bottom: 175px; /*width: 100%;*/   
left:75%;
background: rgba(255, 255, 255, 0.8);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
-webkit-border-top-left-radius: 20px;
-webkit-border-top-right-radius: 20px;
-moz-border-radius-topleft: 20px;
-moz-border-radius-topright: 20px;
border-top-left-radius: 20px;
border-top-right-radius: 20px;
}

#nav_tab p { 	
font-family: Helevetica W01 Roman; 	
text-align: center;	
padding: 2px 20px 2px; 	
color: #003366;
font-size: 0.875em;
margin-bottom:0;
margin-top: 5px;	
}

#feature {
	background: none;
	padding-bottom: 0;
}

.footmaterial {
	max-width: 820px;
}

.postmaterial {
	background: rgba(255,255,255,0.9);
	padding: 50px 0 20px 40px;
}

.interntitle h3 {
	background: #fc0;
	padding: 15px;
	color: #003366;
	font-family: Georgia, serif;
	font-size: 1.875em;
	}

.postmaterial p {
	margin-left:15px;
	width: 75%;
	font-size: 1em;
	font-family: 'Cabin', sans-serif;
	font-weight: 400;
	line-height: 1.5em;
}

.sidequote {
	background: #FFF;
	float: right;
	width: 35%;
	padding-top:15px;
	margin-left:15px;
	margin-bottom:10px;
}

.sidequote p {
	font-family: 'Cabin Condensed', sans-serif;
	font-weight: 700;
	color: #003366;
	border-left: 15px solid #fc0;
	padding:15px;
	font-size: 0.875em;
	line-height: 2em;
}

.sidequote ul {
	font-family: 'Cabin Condensed', sans-serif;
	font-weight: 700;
	color: #003366;
	border-left: 15px solid #fc0;
	padding:15px;
	font-size: 0.875em;
	line-height: 1em;
	list-style: none;
	margin-left:15px;
}

.sidequote ul li ul {
	font-size: 1em;
	border-left:none;
	padding-bottom: 0;
}
.interntitle {
	margin: 0 auto;
	max-width: 820px;
	padding-top:37px;
}
#intern1,
#intern1foot,
#intern2,
#intern2foot,
#intern3,
#intern3foot,
#intern4,
#intern4foot,
#intern5,
#intern5foot {
	width:100%;
	margin: 0 auto;
}

#intern1 {
	background: #000000 url('../img/fall11/intern1.jpg') no-repeat center top;
}

#intern1 #feature {
	padding-top:650px;
	}

#intern2 {
	background: #dc9a20 url('../img/fall11/intern2.jpg') no-repeat center top;
}

#intern2 #feature {
	padding-top: 1050px;
}

#intern3 {
	background: #fe9496 url('../img/fall11/intern3.jpg') no-repeat center top;
}

#intern3 #feature {
	padding-top: 750px;
}
#intern4 {
	background: #231a15 url('../img/fall11/intern4.jpg') no-repeat center top;
}

#intern4 #feature {
	padding-top:550px;
}

#intern5 {
	background: #000000 url('../img/fall11/rowhouses.jpg') no-repeat center top;
}

#intern1foot {
	background: #000;
}

#intern2foot {
	background: #CC9933;
}

#intern3foot {
	background: #EAA6A1;
}

#intern4foot {
	background: #663333;
}

#intern5foot {
	background: #666;
}

.footmaterial {
	padding-top: 20px;
	padding-bottom:30px;
	font-family: 'Cabin Condensed', sans-serif;
	font-weight: 700;
	margin: 0 auto;
}

.footmaterial .caption {
	width:35%;
	float:left;
}

.footmaterial .caption img {
	padding-top:10px;
	padding-right:10px;
}

.footmaterial .video {
	width:60%;
	float:right;
}

.footmaterial .video iframe {
	float:right;
}
.footmaterial h5 {
	font-size: 1.875em;
	color:#FFF;
	margin-bottom:0;
}

.footmaterial p {
	color: #FFF;
	font-size: 0.875em;
}

.storyjump {
	float:right;
	font-family: 'MuseoSlab900', Georgia, serif;
	margin-right:15px;
	font-size: .5em;
	padding-top: 6px;
}

.interntitle img {
	padding-top:21px;
	padding-right:10px;
}

#intern1story {
	height:50px;
}

#intern5 p {
	font-family: 'Cabin', sans-serif;
	font-weight: 400;
	font-size: 0.875em;
}

#intern5 img {
	margin-right:20px;
}
#intern5 h4,
#intern5 h5,
#intern5 h6 {
	font-family: Georgia, serif;
	background-color: #fc0;
	margin-bottom: 0;
	padding-left: 20px;
	padding-bottom: 5px;
}

#intern5 h4 { 
	font-size: 8.5em;
	color: rgba(0, 0, 0, 0.25);
	letter-spacing: -30px;
	font-family: 'Cabin', sans-serif;
	font-weight: 400; 
	line-height: 1;
	}

.smaller {
color: #333;
font-size: 60%;
font-family: Georgia;
}
 
#intern5 h5 {
color: #333;
font-size: 1.5em;
}

#intern h6 {
	color: #333;
	font-size: 0.875em;
}

#intern5 .pullquote {
	font-size: 0.875em;
	line-height: 1.7em;
	margin-right: 20px;
}

p.question {
	color: #003366;
	font-weight: bold;
}

.sidequote h3 {
	font-family: 'Cabin', sans-serif;
	font-weight: 400;
	font-size: 1.5em;
	color: #003366;
	font-weight: bold;
	margin-left: 20px;
}

p.noborder {
	border-left:none;
}

.gallery-item {
	float:left;
	padding-right:15px;
}