/*--------------Green Horizons - V8N2 - Feature 1 -------------*/
#feature {
	background: -moz-linear-gradient(top,  rgba(241,248,248,1) 0%, rgba(241,248,248,1) 70%, rgba(241,248,248,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(241,248,248,1)), color-stop(70%,rgba(241,248,248,1)), color-stop(100%,rgba(241,248,248,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(241,248,248,1) 0%,rgba(241,248,248,1) 70%,rgba(241,248,248,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(241,248,248,1) 0%,rgba(241,248,248,1) 70%,rgba(241,248,248,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(241,248,248,1) 0%,rgba(241,248,248,1) 70%,rgba(241,248,248,0) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(241,248,248,1) 0%,rgba(241,248,248,1) 70%,rgba(241,248,248,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f8f8', endColorstr='#00f1f8f8',GradientType=0 ); /* IE6-9 */
}

#feature-head {
	height:740px;
	background-position: top;
}

.feature-intro {
	color: #ffffff;
	background: none;
	width: 68%;
	max-width: 560px;
	float:right;
}

.feature-intro h3 {
	font-family: 'Museo Slab W01 900', Georgia, serif;
	font-size: 4em;
	margin-top:0.8em;
	margin-bottom: 0;
}

.feature-intro h4 {
	font-family: 'Museo Slab W01 900', Georgia, serif;
	font-size: 1.25em;
	margin-bottom: 0;
}

.introcopy {
	background: rgba(0,0,0, 0.6);
	padding-bottom:1em;
}

p.credit {
	font-size: 1.125em;
	margin-bottom: 1em;
}

p.othercredits {
	font-size: 0.875em;
	margin-bottom: 0.625em
}
	
.pullquote {
	padding:1em;
	font-size:1em;
	line-height: 1.5em;
	font-weight: bold;
}

.dropcap {
	float: left; 
	font-size: 4.5em; 
	line-height: 60px; 
	padding-top: 0; 
	padding-right: 8px; 
	padding-left: 3px; 
	font-family: 'Museo Slab W01 900', Georgia, serif;
}

#feature h2 {
	font-family: 'Museo Slab W01 900', Georgia, serif;
	font-size:1.875em;
	font-weight:bold;
	margin-bottom:1em;
}

.nonbackground {
	display: none;
}

#feature .postmaterial img.floatleft {
	margin-left:-8%;
	position: relative;
	zoom:1;
}
	
#feature .postmaterial img.floatright {
	margin-right:-10%;
	position: relative;
	zoom:1;
}

#feature .postmaterial img {
	background: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
/*--------------Real Science - V8N2 - Feature 2 -------------*/
#feature {
	background: rgba(241, 248, 248, 0.65);
}

.nonbackground {
	float:left; 
	padding-right: 1em;
	width: 64%;
}

p.credit {
	font-size: 1.125em;
	margin-bottom: 1em;
	}

p.othercredits {
	font-size: 0.875em;
	margin-bottom: 0.625em
	
	}
	
.pullquote {
	padding:1em;
	font-size:1em;
	line-height: 1.5em;
	font-weight: bold;
	}

.dropcap {
	color:#efbd53;
	float: left; 
	font-size: 4.5em; 
	line-height: 60px; 
	padding-top: 0; 
	padding-right: 8px; 
	padding-left: 3px; 
	font-family: 'Museo Slab W01 900', Georgia, serif;
}

h4.tagline {
	display:none;
}

#feature-head {
	height:519px;
}

.feature-intro {
	color: #ffffff;
	background: none;
	width: 100%;
	max-width: 820px;
	float:right;
}

.feature-intro h3 {
	font-family: 'Museo Slab W01 300', Georgia, serif;
	font-size: 2em;
	margin-bottom: 0;
	margin-top:2em;
	color: #efbd53;
}



.aside {
	margin: 10px auto;
	width:70%;
	padding:1em;
	background: rgba(239, 189, 83, 0.1);
}

.aside h3 {
	font-family: 'Museo Slab W01 900', Georgia, serif;
	color: #efbd53;
}

.wysiwyg-read-more-link {
	font-family: 'Museo Slab W01 300', Georgia, serif;
}

.imageblockleft {
	background: rgba(239, 189, 83, 0.1);
}

.imageblockright {
	background: rgba(239, 189, 83, 0.1);
}

p.quote {
	color:#efbd53;
	}

/*--------------Teach for America - V8N2 - Feature 3 -------------*/


#feature .postmaterial img {
	background: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

#feature-head {
	height:1075px;
	}


.headerbreak,
h4.tagline,
.feature-intro h3 {
	display:none;
	}

.feature-intro {
	background: rgba(255, 255, 255, 0.7);
}
	
p.credit {
	text-align: center;
	color: #339999;
	font-size: 1.125em;
	font-weight: bold;
	margin:0;
	}

p.othercredits {
	text-align: center;
	color: #339999;
	font-weight: bold;
	font-size: .75em;
	margin:0;
	padding-bottom:20px;
}

.introcopy {
	padding: 0 15% 4.8em;
	}
	
.pullquote {
	font-size: 1.125em;
	line-height: 2.5em;
	color:#333;
	font-weight:bold;
	}

.tfa {
	clear:both;
	}

p.callout {
	color:#339999;
	font-size: 1.125em;
	line-height: 1.625em;
	font-family: 'Museo Slab W01 900', Georgia, serif;
	padding-top:6em;
}

.dropcap {
	color:#339999;
	font-size: 6.25em;
	margin-top:13px;
	font-family: 'Museo Slab W01 900', Georgia, serif;
	}
	
.postmaterial {
	padding: 3em 15%;
}

#feature {background: rgba(255, 255, 255, 0.7);}

#container-mid {
	background: #2b7976 url('http://magazine.krieger.dev/files/2011/11/bgrepeat1.png') top left repeat-x;
}
/*--------------Spanish Civil War - V8N2 - Feature 4 -------------*/
#feature {
background: #c5c0b4;
background: -moz-linear-gradient(top,  rgba(197,192,180,1) 0%, rgba(197,192,180,1) 70%, rgba(197,192,180,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(197,192,180,1)), color-stop(70%,rgba(197,192,180,1)), color-stop(100%,rgba(197,192,180,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(197,192,180,1) 0%,rgba(197,192,180,1) 70%,rgba(197,192,180,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(197,192,180,1) 0%,rgba(197,192,180,1) 70%,rgba(197,192,180,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(197,192,180,1) 0%,rgba(197,192,180,1) 70%,rgba(197,192,180,0) 100%); /* IE10+ */
background: linear-gradient(top,  rgba(197,192,180,1) 0%,rgba(197,192,180,1) 70%,rgba(197,192,180,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c5c0b4', endColorstr='#00c5c0b4',GradientType=0 ); /* IE6-9 */
}

.nonbackground {
	display:none;
}

.intro-container {
	max-width:100%;
	background: rgba(0, 0, 0, 0.7);
	position:absolute;
	bottom:0;
	}
#feature-head {
	height:725px;
	position: relative;
	}

.feature-intro {
	max-width:820px;
	margin: 0 auto;
	}
	
.feature-intro h3 {
	font-family: 'Museo Slab W01 900', Georgia, serif;
	font-size: 4em;
	line-height:1.313em;
	margin-left:5%;
	margin-right: 18.292682926829268%;
	margin-bottom: 0;
	color: #e5b82c;
	font-variant: small-caps;
}

.feature-intro h4 {
	margin-left:5%;
	margin-right: 28%;
	color:#f3e7e7;
	font-size: 1.875em;
	margin-bottom: 10px;
}
p.credit {
	display:none;
}

.creditbox {
	font-style:normal;
	padding:8px;
	background-color:#e5b82c;
	margin-left:5%;
	text-transform: uppercase;
	font-weight: bold;
	margin-top:1em;
	margin-bottom:15px;
}

p.othercredits {
	margin-bottom: .5em;
}

.headerbreak {
	display: none;
}

.dropcap {
	color: #493210; 
	font-family: 'Museo Slab W01 900', Georgia, serif;
}

.postmaterial {
	padding: 3em 5%;
}

.letters {
	background: #897d68;
	max-height: 560px;
	width:111.5%;
	margin-left:-5.75%;
	margin-bottom:100px;
	margin-top:90px;
	}
	
.letters img {
	padding:0;
	background:none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	max-width:130%;
	margin-left:-12%;
	margin-top:-200px;
	position:relative;
	zoom:1;
}

.letters p {
	width:25%;
	margin-left:5%;
	padding-top: 20px;
}
/*--------------Thanks for the memories - V9N1 - Feature 2 -------------*/
#feature-head {
	height:703px;
	background-repeat: no-repeat;
	background-position: center top;
	background-color: #090514;
	border-bottom: #333366 15px solid;
}

.feature-intro {
	width: 60%;
	height:615px;
	float:right;
	background: rgba(35,46,55,0.5);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#7F232E37,endColorstr=#7F232E37)"; /* IE8 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7F232E37,endColorstr=#7F232E37);   /* IE6 & 7 */
	}

.textblock {
	margin: 1.5em 25% 1.5em 3%;
	color:#FFFFFF;
	}

.textblock h3 {
	font-family: 'Museo Slab W01 500', Georgia, serif;
	font-size: 4.5em;
	line-height: .83em;
	margin-bottom:.5em;
	}

h4.tagline {
	font-family: 'Museo Slab W01 900', Georgia, serif;
	font-size: 1.125em;
	line-height: 1.67em;
	margin-bottom:10px;
	font-weight: normal;
}

p.credit {
	font-family: 'Museo Slab W01 500', Georgia, serif;
	font-size: 1.5em;
	font-variant: small-caps;
	margin-bottom:0;
}


p.othercredits {
	font-family: 'Museo Slab W01 500', Georgia, serif;
	font-size: 0.875em;
	text-transform: uppercase;
	margin-bottom:0;
	font-style: normal;
}

.pullquote	{
	float:right;
	font-family: 'Museo Slab W01 900', Georgia, serif;
	text-transform: uppercase;
	margin-right:15px;
	margin-top:40px;
}

.pullquote a {
	color: #FFF;
}
.pullquote a img {
	padding-right:10px;
}

p.opener {
	font-size: 1.125em;
	line-height: 2em;
	}

.dropcap {
	font-family: 'Museo Slab W01 900', Georgia, serif;
	color:#06c;
	font-size:5.5em;
	margin-top:10px;
}

#feature {
	background: none;
}

#feature .postmaterial {
	border-top: #06c 15px solid;
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,0) 20%, rgba(255,255,255,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(20%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 20%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 20%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 20%,rgba(255,255,255,0) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 20%,rgba(255,255,255,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
	ms-filter: "progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 )"; /* IE6-9 */
	position:relative;
	margin-top:-140px;
	zoom:1;
	line-height:1.5em;
	}

#feature .postmaterial h3 {
	color:#06c;
	font-family: 'Museo Slab W01 500', Georgia, serif;
	font-size: 1.5em;
	margin: 0;
}

#feature .postmaterial img {
	background: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	max-width: none;
	padding: 0;
}

#feature .postmaterial img.floatleft {
	margin-bottom:0;
}

.imagesection1,
.imagesection2 {
	position:relative;
	width:112%
}

.imagesection2 {
	margin-bottom: 15px;
}

.imagesection2 .imageholder,
.imagesection3 {
	position:relative;
	width:300%;
	background-color:#c1c9d1;
	margin-left:-150%;
	zoom:1;
}

.imagesection3 .listen {
	width:33%;
	margin-left:50%;
}

.imagesection3 .listen .left {
	float:left;
	width: 35%;
}

.imagesection3 .listen .right {
	float:right;
	width:62%;
}

#feature .postmaterial .imagesection3 .listen .right h3 {
	font-family: Georgia, serif;
	font-size: 1.5em;
	color:#333;
	margin-top:20px;
}

.right p {
	font-family:'Helvetica W01 Roman';
}

.left h4 {
	margin-top:20px;
	color: #06c;
	font-family: 'Museo Slab W01 900', Georgia, serif;
	font-weight: normal;
	font-size: 1.5em;
}

.imagesection1 img {
	position:relative;
	max-width: none;
	width:195%;
	margin-left:-50%;
	zoom:1;
}

.imagesection2 img {
	position:relative;
	max-width: none;
	width:39%;
	margin-left:44%;
	padding: 0;
}

.imagesection1 .caption {
	position: relative;
	background-color: #636;
	width:250px;
	float:right;
	margin-top:-36px;
	zoom:1;
	margin-left:15px;
	}
	
.imagesection2 .caption {
	position: relative;
	background-color: #636;
	width:250px;
	float:right;
	margin-top:0px;
	zoom:1;
	margin-left:15px;
	}
	
.imagesection1 .caption p,
.imagesection2 .caption p {
	font-family: 'Museo Slab W01 500', Georgia, serif;
	font-size: 1.125em;
	line-height:2em;
	color: #fff;
	margin:15px;
}

.nonbackground,
.headerbreak {
	display:none;
}

.tagline img {
	margin-top:20px;
	margin-bottom:10px;
}

/*--------------Great Wall of Waverly - V9N1 - Feature 3 -------------*/

#feature {
	background: rgba(51, 51, 51, 0.8);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6333333', endColorstr='#e6333333',GradientType=0 );
	}

#feature-head {
	height:930px;
	background-repeat: no-repeat;
	background-position: center top;
}

.titlesection {
	position:relative;
	margin: 15px auto 0;
	max-width: 820px;
}

h3.title,
p.credit {
	display:none;
}

.dropcap {
	color:#ffcc33;
	font-family: 'Museo Slab W01 900', Georgia, serif;
}

.fancytitle {
	opacity: 0.8;
}

.fancytitle h3 {
	font-family: 'Museo Slab W01 300', Georgia, serif;
	padding:0;
	margin:0;
	color:#ffffff;
	font-size: 7em;
	letter-spacing: -10px;
	line-height:.75;
}

h3.floatright {
	float: right;
}
.large {
	font-family: 'Museo Slab W01 900', Georgia, serif;
}

.overlay {
	font-size: 85px;
	color:#11376a;
	font-family: Palatino, serif;
	font-style: italic;
	margin-right:-20px;
	position: relative;
	zoom:1;
	z-index: 3;
	
	}
	
.introcopy {
	width:30%;
	background:rgba(51,51,51,0.82); /* FF3.6+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d1333333', endColorstr='#d1333333',GradientType=0 ); /* IE6-9 */
}

.pullquote {
	padding:1em;
	color: #ffcc33;
}

.pullquote ul li a {
	color: #ffcc33;
	font-family: 'Helvetica W01 Cn', sans-serif;
}

h4.tagline,
p.othercredits {
	font-family: 'Museo Slab W01 900', Georgia, serif;
	color: #003366;
	font-size: 1em;
}

h4.tagline {
	line-height: 2em;
	padding-top:1em;
	padding-right:1em;

}

p.othercredits {
	float:right;
	margin-right:40px;
	line-height: 0;
	position: relative;
	margin-top:-35px;
	zoom: 1;
}

.postmaterial p {
	font-family: 'Helvetica W01 Cn', sans-serif;
	font-weight: 400;	color:#ffffff;
	font-size: 1.125em;
	line-height: 1.875em;
}

.postmaterial h3 {
	color:#FC3;
	font-family: 'Museo Slab W01 900', Georgia, serif;
	}

.postmaterial img {
	max-width: none;
}

.mygallery #gallery-1 img  {
max-width: 125px;
}



/*--------------A poem as lovely - V9N1 - Feature 4 -------------*/

.nonbackground,
h3.title,
.headerbreak {
	display: none;
}

#feature-head {
	height:1082px;
	background-repeat: no-repeat;
	background-position: center top;
}

.textblock {
	width: 73%;
	float:right;
}

h3.italic {
	font-family: Palatino, serif;
	font-style: italic;
	color: #ffffff;
	margin-bottom: 0;
	font-size: 3em;
	margin-top:30px;

}

h3.large {
	font-family: 'Museo Slab W01 900', Georgia, serif;
	color: #f5f073;
	font-size: 4.5em;
	float: right;
}

h4.tagline,
p.credit,
p.othercredits {
font-family: 'Helvetica W01 Bd Cn', sans-serif;
	color:#ffff66;
	margin-left:60%;
	text-shadow: 0px 0px 6px #333;
}

h4.tagline,
p.credit {
	font-size: 1.375em;
	line-height: 1.35em;
}

p.othercredits {
	font-size: 1.125em;
}

h4.tagline {
	margin-bottom: 100px;
}

#feature {
	background: none;
	background-color:#bfe3d4;
	position:relative;
	margin-top:-210px;
	zoom:1;
}

.dropcap {
	font-family: 'Helvetica W01 Cn', sans-serif;
	font-weight: 400;	-webkit-border-radius: 90px;
	-moz-border-radius: 90px;
	border-radius: 90px;
	background: #ffff66;
	padding:19px;
	margin-right:-24px;
	margin-top:-38px;
	zoom: 1;
}

p.opener {
	font-family: 'Helvetica W01 Cn', sans-serif;
	font-weight: 400;	font-size: 1.5em;
	line-height: 2.5em;
	margin-top:-25px;
	position: relative;
	zoom: 1;
}

p.question {
	font-weight: bold;
	margin-bottom:0;
}

li.red {
	list-style:none;
	background:url(http://magazine.krieger.dev/wp-content/themes/asmagflex/assets/img/bullets/red.png) no-repeat 0px .2em; 
	padding-left:30px;
}

li.yellow {
	list-style:none;
	background:url(http://magazine.krieger.dev/wp-content/themes/asmagflex/assets/img/bullets/yellow.png) no-repeat 0px .2em; 
	padding-left:30px;
}

li.purple {
	list-style:none;
	background:url(http://magazine.krieger.dev/wp-content/themes/asmagflex/assets/img/bullets/blue.png) no-repeat 0px .2em; 
	padding-left:30px;
}

li.black {
	list-style:none;
	background:url(http://magazine.krieger.dev/wp-content/themes/asmagflex/assets/img/bullets/black.png) no-repeat 0px .2em; 
	padding-left:30px;
}

li.redright {
	list-style:none;
	background:url(http://magazine.krieger.dev/wp-content/themes/asmagflex/assets/img/bullets/red.png) no-repeat 45% .2em; 
	padding-left:30px;
}

li.yellowright {
	list-style:none;
	background:url(http://magazine.krieger.dev/wp-content/themes/asmagflex/assets/img/bullets/yellow.png) no-repeat 45% .2em; 
	padding-left:30px;
}

li.purpleright {
	list-style:none;
	background:url(http://magazine.krieger.dev/wp-content/themes/asmagflex/assets/img/bullets/blue.png) no-repeat 45% .2em; 
	padding-left:30px;
}

li.blackright {
	list-style:none;
	background:url(http://magazine.krieger.dev/wp-content/themes/asmagflex/assets/img/bullets/black.png) no-repeat 45% .2em; 
	padding-left:30px;
}

.imageblockleft {
	background:none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	margin-left: -15%;
	position: relative;
	zoom: 1;
	margin-right:40px;
}

.imageblockleft .caption {
	color: #381577;
	width:75%;
	padding-left:30px;
	padding-top: 15px;
	background: url(http://magazine.krieger.dev/wp-content/themes/asmagflex/assets/img/quote-mark.png) no-repeat left top;
	font-size: 1.063em;
	line-height: 2em;
	font-weight:bold;
	float:right;
	margin-bottom: -80px;
	position: relative;
	zoom:1;
	}

