h1, h2, h3, h4, h5, h6,
#nav ul li,
.extranames,
.helpbarleft h3,
.dropdown ul,
p.author,
.storynav p,
.otherstories h4,
ul.tabs li a
 {
	font-family: 'Helvetica W01 Cn', sans-serif;
	font-weight: 400;
}

img.tocbutton,
ul.menu_options,
.dropdown ul {
	display:none;
	visibility: hidden;
	
}

.fall2011 .dean {
	margin-top:0;
	bottom:75px;

}

.spring2011 .dean {
	bottom:60px;
}

.postmaterial,
#article-right,
.homearticle,
.alumarticle
 {
	font-size:115%;
}