/* Media queries
---------------------------------------- */

/* The media queries included in here are only placeholder. Modify them as your content requires */

@media only screen and (max-width: 950px) {

#nav ul li {
	margin-right: 0.375em; 
}

 #nav ul li a {
 	margin-top: 3.75em;
	padding-top: 1.438em;
}

#subheader-left,
#header-left {
	width:0;
	position: relative;
	}

#logosub,
#logo {
position: absolute;
left:0;
top:0;
}

#subheader-right,
#header-right {
	width: 100%;
}

#subheader-right #nav {
	margin-left: 335px;
}

#header-right #nav {
	margin-left: 365px;
	}

}


@media only screen and (max-width: 800px) {
	.homearticle {
		width:45%;
		}
}
@media only screen and (max-width: 750px) {
#nav ul li {
	margin-right: 0.438em; /* 35px / 960px */
}
 
	#header-right #nav {
		margin-left: 0;
	}
	#header-right #nav ul li {
		margin-top: 125px;
		}
	#header-right #nav ul li a {
	display: block;
	padding-top: 0.75em;
	padding-bottom:1.25em;
	padding-left:0.438em;
	padding-right:0.438em;
	}
	
	#header-right #nav ul li a {
 	margin-top: 0;
}

}
@media only screen and (max-width: 630px) {
	#sidebar-right {
		display:none;
		}
	.dean {
		display:none;
		}
	#issue {
		width:100%;
		}
	
	#subheader-right #nav {
		margin-left: 0;
	}
	#subheader-right #nav ul li {
		margin-top: 50px;
		}
	#subheader-right #nav ul li a {
	display: block;
	padding-top: 0.75em;
	padding-bottom:1.25em;
	padding-left:0.438em;
	padding-right:0.438em;
	}
}

@media only screen and (max-width: 500px) {
	#article-right {
		display:none;
		}
	
	#article {
		width:100%; 
	}
	
	.searchbar {
		display: none;
	}
	
	.helpbarleft {
		width:100%;
		}
	.helpbar-right {
		width:0;
	}
	
		.homearticle {
		width:90%;
		}
	
}

@media only screen and (max-width: 400px) {

	#nav ul li,
	#homepage h4 {
		font-size: 0.875em;
		}
	
	.title-wrapper h4 {
		padding-top: 8px; }
	
	.title {
		padding-top:12px;
		padding-bottom: 8px;
		margin-left:38px;
		}
		

}





/* Print styles
---------------------------------------- */

/* Print styles inlined to avoid extra HTTP connection */

@media print {
	* {
		background: transparent !important;
		color: black !important; /* Black prints faster: sanbeiji.com/archives/953 */
		text-shadow: none !important;
		filter: none !important;
		-ms-filter: none !important;
	}

	a, a:visited {
		text-decoration: underline;
	}

	a[href]:after {
		content: " (" attr(href) ")";
	}

	abbr[title]:after {
		content: " (" attr(title) ")";
	}

	/* Do not show javascript and internal links */
	a[href^="javascript:"]:after, a[href^="#"]:after {
		content: ""; 
	}

	/* Printing Tables: css-discuss.incutio.com/wiki/Printing_Tables */
	thead {
		display: table-header-group;
	}

	tr, img {
		page-break-inside: avoid;
	}

	@page {
		margin: 0.5cm;
	}

	p, h2, h3 {
		orphans: 3;
		widows: 3;
	}

	h2, h3 {
		page-break-after: avoid;
	}
}

/* Firefox only styles
---------------------------------------- */
@-moz-document url-prefix(http://krieger2.jhu.edu/magazine/), url-prefix(http://krieger.jhu.edu/magazine/) {

h1, h2, h3, h4, h5, h6,
#nav ul li,
.extranames,
.helpbarleft h3,
.dropdown ul,
p.author,
.storynav p,
.otherstories h4,
ul.tabs li a {
	font-family: 'Cabin Condensed', sans-serif;
	font-weight: 400;	
	}
}