img {
	max-width: 100%;
}
	
#accordion-container-wrapper {  
    max-width:960px;
    max-height:422px;
    margin-left:auto;
    margin-right:auto;
}


#accordion-container {
    max-width:100%; 
    max-height:422px; 
    background-color:#000; 
    position:relative;
    border:none;
    overflow:hidden;
    padding-top:43.958333333333333%;
}

#accordion-container .slide {
    width:78.125%;  
    max-height:422px; 
    position: absolute;  
    border-left:1px solid #222;  
    left:0px; 
    top:0px;
    background-color:#333333;
    color:#FFFFFF;
}

#accordion-container .slide .image {
    border-left: 0px solid #AAA; 
    width:100%; 
    max-height:422px;
    color:#FFF;
}    

#accordion-container .slide .image img {
    border:none;
}

#accordion-container .slide .text-back {
    margin-left:0px;
    margin-top:0px;
    position:absolute;
    left:0px;
    width:100%;
    height:25%;
    opacity:0.0;
    filter:alpha(opacity=0); /* IE */ 
    background-color:#000;
    border-top:1px solid #111;
}

#accordion-container .slide .text {
    padding-top:0px;
    padding-left:15px;
    text-align:left;
    margin-left:0px;
    margin-top:0px;
    position:absolute;
    left:0px;
    width:78.125%;
    height:22.619047619047619%;
    opacity:0.0;
    filter:alpha(opacity=0); /* IE */ 
    background:none;
    border:0px solid red;
}

#accordion-container .slide h3 {
	font-family: Georgia, serif;
	font-size: 3em;
	font-weight: normal;
    margin-top:8px;
    margin-bottom:4px;
}

#accordion-container .slide .text h3 a,
#accordion-container .slide .text h3 a:visited,
#accordion-container .slide .text h3 a:hover,
#accordion-container .slide .text p a,
#accordion-container .slide .text p a:visited,
#accordion-container .slide .text p a:hover {
	color:#FFFFFF;
}

@media only screen and (max-width: 750px) {
	#accordion-container .slide h3 {
		font-size: 2em;
		}
	
	#accordion-container .slide .text-back {
		height: 48%;
		}
	#accordion-container .slide .text {
		height: 45.5%;
	}
}

@media only screen and (max-width: 625px) {

	#accordion-container .slide .text-back {
		height: 58%;
		}
	#accordion-container .slide .text {
		height: 55.5%;
	}
	
	#accordion-container .slide .text p {
		display:none;}
}


@media only screen and (max-width: 550px) {
	#accordion-container .slide h3 {
		font-size: 1.25em;
		}
	
	#accordion-container .slide .text {
		height: 57.5%;
	}
}
	
@media only screen and (max-width: 420px) {
	
	#accordion-container .slide .text-back {
		height: 68%;
		}
	#accordion-container .slide .text {
		height: 68.5%;
	}
}
