/* 1.0 Background Images
___________________________________________________________*/
body.spring2011 {
	background: url(../img/clouds_bg.jpg) repeat 0 0 ;
}

body.spring2011sub {
	background: #dbeded url(../img/clouds_sub.jpg) repeat-x 0 0;
}

#container-foot {
	background: #a9aaa4 url('../img/footer_repeat.png') repeat-x left top;
}

#footer {
	background: #a9aaa4 url('../img/footer_bg.png') no-repeat center bottom;
}

/* 2.0 Font Colors
___________________________________________________________*/
.blue,
a,
a:hover,
a:visited {
	color:#06C;
}

.orange,
.extranames,
#issue h6 a,
#issue h6 a:hover,
#issue h6 a:visited,
.otherstories h4
{
	color:#FF6633;
}

.lightblue {
	color: #5399cc;
}

.green,
#sidebar-right h5 a,
#sidebar-right h5 a:hover,
#sidebar-right h5 a:visited,
#homepage h5 {
	color:#CCCC66;
}

.brightblue,
.comment-author {
	color: #09C;
}

.darkblue,
label,
.postmaterial h4 {
	color:#006699;
	
}

#footer p,
#footer p a,
#footer-feature p,
#footer-feature p a,
#nav ul li a,
#sidebar-right p,
.web,
.highlight,
.snippet h4 {
	color:#fff;
}

#issue p,
#article-right p,
.storynav a,
.storynav a:hover,
.storynav a:visited,
.postmaterial li a, 
.postmaterial li a:visited,
.black {
	color: #333;
}

.dim {
	color: #CCC;}
 
/* 3.0 Background Colors
___________________________________________________________*/
#nav li.current_page_item,
#nav ul li a:hover,
.highlight {
	background: #0099ff;
}

/* 4.0 Wrapper Images
___________________________________________________________*/
.title-wrapper {
	background: url(../img/leftwrap.png) no-repeat 0 0;
	color:#ffffff;
	}

.web-wrapper {
	background: url(../img/rightwrap.png) no-repeat 0 0;
	color:#ffffff;
	}

/* 5.0 Features - STANDARD
___________________________________________________________*/

#footer-feature {
	width:100%;
	max-width: 820px;
	height:11.188em;
	margin: 0 auto;
	display: block;
	clear: both;
}

#feature h2 {clear:both;}
.intro-container {
	width:100%;
	max-width:820px;
	margin: 0 auto;
	}
	
#feature {
	margin: 0 auto;
	width:100%;
	max-width: 820px;
		background: -moz-linear-gradient(top, rgba(241,248,248,0.7) 0%, rgba(241,248,248,1) 40%, rgba(241,248,248,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(241,248,248,0.7)), color-stop(40%,rgba(241,248,248,1)), color-stop(100%,rgba(241,248,248,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(241,248,248,0.7) 0%,rgba(241,248,248,1) 40%,rgba(241,248,248,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(241,248,248,0.7) 0%,rgba(241,248,248,1) 40%,rgba(241,248,248,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(241,248,248,0.7) 0%,rgba(241,248,248,1) 40%,rgba(241,248,248,1) 100%); /* IE10+ */
	background: linear-gradient(top, rgba(241,248,248,0.7) 0%,rgba(241,248,248,1) 40%,rgba(241,248,248,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */	
	padding-bottom:100px;
	}

#footer-top {
	width:100%;
	background: rgba(0,153,255,0.2);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#330099ff', endColorstr='#330099ff',GradientType=0 );
	position: relative;
	clear:both;
	}
.featurelisting {
	width:100%;
	max-width:820px;
	margin:0 auto;
	background: rgba(255,255,255,0.7);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3ffffff', endColorstr='#b3ffffff',GradientType=0 );	
	padding-top: 1em;
	}

.featurelisting h4 {
margin-bottom: 1em;
}

.featurelisting h5 {
	font-size: 0.875em;
	line-height: 1.2em;
	margin-bottom:0;
	}

.featurelisting p {
	color: #333;
	font-family:  Helvetica W01 Roman, sans serif;
	font-size: 0.625em; /*10px*/
	line-height:1;	
	}

.headerbreak {
	position: relative;
	height:15px;
	width:100%;
	background: rgba(26,26,26,0.8);
	margin-top:-5px;
	z-index:10;
	zoom:1;
	}

