
/* 6.0 Features - Layout (Foundation)
___________________________________________________________*/

/* The Grid ---------------------- */
.row { width: 1000px; max-width: 100%; min-width: 768px; margin: 0 auto; }
.row .row { width: auto; max-width: none; min-width: 0; margin: 0 -15px; }
.row.collapse .column, .row.collapse .columns { padding: 0; }
.row .row { width: auto; max-width: none; min-width: 0; margin: 0 -15px; }
.row .row.collapse { margin: 0; }

.column, .columns { float: left; min-height: 1px; padding: 0 15px; position: relative; }
.column.centered, .columns.centered { float: none; margin: 0 auto; }

[class*="column"] + [class*="column"]:last-child { float: right; }

[class*="column"] + [class*="column"].end { float: left; }

.one, .row .one { width: 8.33333%; }

.two, .row .two { width: 16.66667%; }

.three, .row .three { width: 25%; }

.four, .row .four { width: 33.33333%; }

.five, .row .five { width: 41.66667%; }

.six, .row .six { width: 50%; }

.seven, .row .seven { width: 58.33333%; }

.eight, .row .eight { width: 66.66667%; }

.nine, .row .nine { width: 75%; }

.ten, .row .ten { width: 83.33333%; }

.eleven, .row .eleven { width: 91.66667%; }

.twelve, .row .twelve { width: 100%; }

.row .offset-by-one { margin-left: 8.33333%; }

.row .offset-by-two { margin-left: 16.66667%; }

.row .offset-by-three { margin-left: 25%; }

.row .offset-by-four { margin-left: 33.33333%; }

.row .offset-by-five { margin-left: 41.66667%; }

.row .offset-by-six { margin-left: 50%; }

.row .offset-by-seven { margin-left: 58.33333%; }

.row .offset-by-eight { margin-left: 66.67%; }

.row .offset-by-nine { margin-left: 75%; }

.row .offset-by-ten { margin-left: 83.33333%; }

.push-two { left: 16.66667%; }

.pull-two { right: 16.66667%; }

.push-three { left: 25%; }

.pull-three { right: 25%; }

.push-four { left: 33.33333%; }

.pull-four { right: 33.33333%; }

.push-five { left: 41.66667%; }

.pull-five { right: 41.66667%; }

.push-six { left: 50%; }

.pull-six { right: 50%; }

.push-seven { left: 58.33333%; }

.pull-seven { right: 58.33333%; }

.push-eight { left: 66.66667%; }

.pull-eight { right: 66.66667%; }

.push-nine { left: 75%; }

.pull-nine { right: 75%; }

.push-ten { left: 83.33333%; }

.pull-ten { right: 83.33333%; }

img, object, embed { max-width: 100%; height: auto; }

object, embed { height: 100%; }

img { -ms-interpolation-mode: bicubic; }

#map_canvas img, .map_canvas img { max-width: none!important; }

/* Nicolas Gallagher's micro clearfix */
.row { *zoom: 1; }
.row:before, .row:after { content: " "; display: table; }
.row:after { clear: both; }

.columns.last {float:right;}

/***********lifespan nav**************/
#head.lifespan {
	background: url('../img/v10n2/home-top.jpg') no-repeat top center;
	min-height: 543px;
	padding-top:0;
}

#lifespan_home {
	background: #2d7d92;
	color: #FFF;
}

#lifespan_home h3, 
#lifespan_home h4 {
	font-family:"Museo Sans W01 300";
}
#lifespan_home h3 {
	font-size: 54px;
	margin-top: 30px;
	margin-bottom: 15px
}

#lifespan_home h4 {
	font-size: 18px;
	font-style: italic;
}

nav#lifespan ul {
	list-style: none;
}
nav#lifespan li {
	margin-bottom: 20px;
	color: #FFF;
}

nav#lifespan li ul li {
	margin-bottom: 10px;
}

nav#lifespan li a {
	font-family:"Museo Sans W01 900";
	font-size: 18px;
	vertical-align: middle;
	padding: 50px 0 50px 138px;
	line-height: 1.5em;
	position: relative;
	top: 46px;
	color: #FFF;
}
nav#lifespan li ul {
	position: relative;
	top:auto;
	width: 253px;
	margin: 75px 0 0 0px;
	padding: 18px 0 15px 55px; 
	display: block;
	list-style: square;
	z-index:2;
}
nav#lifespan li ul li a {
	font-size: 14px;
	padding: 0;
	display: block;
	position: relative;
	top:auto;
}
nav#lifespan li ul {
	display: none;
	-webkit-border-bottom-right-radius: 20px;
	-webkit-border-bottom-left-radius: 20px;
-moz-border-radius-bottomright: 20px;
-moz-border-radius-bottomleft: 20px;
border-bottom-right-radius: 20px;
border-bottom-left-radius: 20px;
}
nav#lifespan li.active ul,
nav#lifespan li.current-menu-parent ul {
	display: block;
}

nav#lifespan li.current-menu-parent ul li.current-menu-item,
nav#lifespan li.current-menu-parent ul li.current-menu-item a {
	color: #000;
}
nav#lifespan li.trigger {
	z-index: 5;
	-webkit-border-bottom-right-radius: 20px;
	-webkit-border-bottom-left-radius: 20px;
-moz-border-radius-bottomright: 20px;
-moz-border-radius-bottomleft: 20px;
border-bottom-right-radius: 20px;
border-bottom-left-radius: 20px;
}

nav#lifespan li.active,
nav#lifespan li.current-menu-parent {
	-webkit-border-bottom-right-radius: 0px;
	-webkit-border-bottom-left-radius: 0px;
-moz-border-radius-bottomright: 0px;
-moz-border-radius-bottomleft: 0px;
border-bottom-right-radius: 0px;
border-bottom-left-radius: 0px;
}
.baby {
	background: url('../img/v10n2/baby.png') no-repeat top left;
	width: 309px;
	min-height: 112px;
}

nav#lifespan li.baby ul {
	background: #d5b93d;
	margin: 85px 0 0px 0px;
}

.teen {
	background:  url('../img/v10n2/teen.png') no-repeat top left;
	width: 309px;
	min-height: 115px;
}

nav#lifespan li.teen ul {
	background: #cf7036;
	margin: 88px 0 0px 1px;
}

.adult {
	background: url('../img/v10n2/adult.png') no-repeat top left;
	width: 309px;
	min-height: 112px;
}

nav#lifespan li.adult ul {
	background: #08b8d4;
	margin: 83px 0 0px 1px;
}

.elder {
	background: url('../img/v10n2/elder.png') no-repeat top left;
	width: 309px;
	min-height: 116px;
}

nav#lifespan li.elder ul {
	background: #94b66c;
	margin: 83px 0 0px 1px;
}
.expert {
	background:  url('../img/v10n2/expert.png') no-repeat top left;
	width: 309px;
	min-height: 101px;
}

nav#lifespan li.expert ul {
	background: #339c99;
	margin: 74px 0 0px 1px
}

.lifespan {
	padding-top: 125px;
}
.lifespan #story {
	font-family:"Helvetica W01 Roman";
	font-size: 16px;
	line-height: 24px;
}
.lifespan h3,
.lifespan h4 {
	font-family:"Helvetica W01 Bd Cn";
	color: #315e79
}

.lifespan h3,
.lifespan blockquote {
	font-size: 36px;
}

.lifespan blockquote,
.lifespan .dropcap,
.lifespan p.caption {
	color: #315e79;
}

.lifespan p.caption {
	padding: 10px 4px 10px 7px;
	font-weight: 700;
	font-size: 13px;
}
.lifespan .dropcap {
	font-size: 4.5em;
}
.lifespan blockquote .author {
	font-size: 65%;
}

#lifespan_baby {
	padding-top:100px;
	background: #f4e1a3 url('../img/v10n2/bg_baby.png') no-repeat center top;
}

#lifespan_adult { 
	background: #bbd7dc url('../img/v10n2/bg_adult.png') no-repeat left top;
}

#lifespan_teen { 
	background: #edcab4 url('../img/v10n2/bg_teen.png') no-repeat center top;
}

#lifespan_elder { 
	background: #c5d3b2 url('../img/v10n2/bg_elder.png') no-repeat center top;
}

#lifespan_expert { 
	background: #bcdedc url('../img/v10n2/bg_expert.png') no-repeat center center;
}

.lifespan p.question {
	font-weight: 700;
	color: #315e79;
	margin-bottom: 4px;
}
#head.expert {
	background: url('../img/v10n2/expert_bottom.jpg') no-repeat top center;
	min-height: 944px;
	width: 100%;
}
