@font-face {
	font-family: 'MuseoSlab900';
	src: url('../fonts/museo_slab_900-webfont.eot');
	src: local('?'), url('../fonts/museo_slab_900-webfont.woff') format('woff'), url('../fonts/museo_slab_900-webfont.ttf') format('truetype'), url('../fonts/museo_slab_900-webfont.svg#webfontAa6k5p6l') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'MuseoSlab300';
	src: url('../fonts/museo_slab_300-webfont.eot');
	src: local('?'), url('../fonts/museo_slab_300-webfont.woff') format('woff'), url('../fonts/museo_slab_300-webfont.ttf') format('truetype'), url('../fonts/museo_slab_300-webfont.svg#webfont46ajzzu9') format('svg');
	font-weight: normal;
	font-style: normal;
}
