@font-face {
  font-family: 'magazine';
  src: url('../fonts/magazine.eot?87517037');
  src: url('../fonts/magazine.eot?87517037#iefix') format('embedded-opentype'),
       url('../fonts/magazine.woff?87517037') format('woff'),
       url('../fonts/magazine.ttf?87517037') format('truetype'),
       url('../fonts/magazine.svg?87517037#magazine') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* 1.0 Special Classes
___________________________________________________________*/

.offset-gutter {
	padding: 0;
}
.clearboth {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;	
}

.clearleft {
	clear: left;
}

.clearright {
	clear: right;
}
.floatleft,
.alignleft {
	float:left;
}

.floatright,
.alignright {
	float:right;
}

.video-container { /* Wrap around iFrame and SWF embeds for responsive sizing */
	position: relative;
	padding-top: 1.875em;
	overflow: hidden;
}

.video-container iframe,  
.video-container object,  
.video-container embed, {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

img a {
	border: none;
	text-decoration:none;
}

.dropcap {
	float: left;
	font-size: 3.5em; 
	margin-top: 5px; 
	padding-right: 3px; 
	padding-bottom: 1px; 
}

.smallcap {
	font-variant:small-caps;
}

.postmaterial img.noshadow {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

em, i, blockquote, blockquote p, .italic {
	font-family:"Myriad W01 It";
	font-style:normal;
}

strong,b,.bold {
	font-family:"Myriad W01 SmBd";
}

.b.em,.strong.em {
	font-family:"Myriad W01 It";
	font-weight:700;
	font-style:normal;
}

.uppercase {
	text-transform: uppercase;
	letter-spacing: 1px;
	font-family:"Myriad W01 SmBd";
	font-size: 80%;
}

/* 2.0 Backgrounds
---------------------------------------------*/
body.v8n2 {
	background: url('../images/v8n2.jpg') repeat 0 0 ;
}

body.v9n1,
body.v9n2  {
	background: url('../images/v9n1.jpg') repeat 0 0 ;
}

body.v10n1,
body.v10n2{
	background: #384d5c; 
}

body.v11n1 {
	background: #000 url('../images/v11n1.jpg') no-repeat fixed top center;
}

#container-mid {
	background: #f7f7f7;
	background: rgba(247,247,247, .9);
}

.black_bg {
	background: #000;
}




/* 5.0 Header Content
---------------------------------------------*/
/* 5.1 Logo
---------------------------------------------*/
#logo_nav li.logo,.mobile-logo {
	width:235px;
	height:180px;
	padding:0;
	position:absolute;
	margin-top: -61px;
	-webkit-border-bottom-right-radius:20px;
	-webkit-border-bottom-left-radius:20px;
	-moz-border-radius-bottomright:20px;
	-moz-border-radius-bottomleft:20px;
	border-bottom-right-radius:20px;
	border-bottom-left-radius:20px;
	list-style: none;
}

#logo_nav li.logo a {
	background:url(../images/logo.jpg) no-repeat top;
	width:207px;
	height:115px;
	position:absolute;
	top:20px;
	left:15px;
}

.issue {
	margin: 141px 5px 0px 15px;
	font-size: 13px;
	text-transform: uppercase;
	padding: 6px 2px;
	display: inline-block;
	color: #FFF;
	font-family:'Myriad W01 SmBd';
	-webkit-appearance: none;
	border-radius: 0;
	border: 0;
	width: auto;
	background: #06C;
}

select.issue {
	min-width: 88px;
	text-indent: 7px;
}
.logo-sub {
	display: inline;
	font-size: 23px;
	text-transform: uppercase;
	color: #FFF;
	font-family:'Myriad W01 SmBd';
	vertical-align: bottom;
}

.mobile-logo {
	position:relative;
	margin:0 auto;
	top:32px;
	height:200px;
}

.mobile-logo .issue {
	margin-top: 122px;
}

.mobile-logo a {
	background:url(../images/logo.jpg) no-repeat top;
	width:235px;
	height:165px;
	margin-top:0;
	text-indent:-9999px;
	position:absolute;
}

#logo_nav li.logo {
	background:#151313;
}


#search-bar {
	color:#ccc;
	text-transform:uppercase;
	font-family:"Myriad W01 SmBd";
	margin-top:15px;
	margin-bottom:10px;
}

#search-bar .columns {
	padding:0;
}

#search-bar a {
	color:#FFF;
	font-size:16px;
}

#search-bar .links {
	margin-top:9px;
}

.links li {
	list-style:none;
	display:inline;
}

.links li:after {
	content:" | ";
}

.links li:last-child:after {
	content:"";
}


.sub-page#logo_nav {
	min-height: 165px;
}

.sub-page#logo_nav li.logo {
	margin-top: 0px;
	height: 150px;
}


.sub-page#logo_nav li.logo a {
	top:0px;
}
.toc_nav {
	background: #06C;
	color: #FFF;
	position: relative;
	top:0;
	left:15px;
	width: 235px;
	margin-top: -56px;
	font-size: 24px;
	padding: 5px 0 0 15px;
	margin-bottom: 0;
}

.toc_nav a,
.toc_nav a:hover,
.toc_nav a:visited {
	color: #FFF;
}
.toc_nav .issue {
	margin: 0;
	font-size: 20px;
	padding: 6px 0 0 12px;
	display: inline;
	vertical-align: baseline;
}

.toc_nav.mobile {
	position: fixed;
	top:0;
	left:0;
	width: 100%;
	margin-top:0;
	z-index: 3000;
}
.spacer {
	width: 82px;
	background: #333;
	height: 18px;
	display: inline-block;
	margin: 123px 10px 0px 18px;
}

#search-bar input[type="text"] {
	height:31px;
	margin-bottom:0;
	background:#ccc;
	-webkit-border-top-left-radius:7px;
	-webkit-border-bottom-left-radius:7px;
	-moz-border-radius-topleft:7px;
	-moz-border-radius-bottomleft:7px;
	border-top-left-radius:7px;
	border-bottom-left-radius:7px;
	display:inline;
	float:left;
	width:75%;
	border:none;
}

#search-bar input[type="submit"] {
	height:31px;
	width:30px;
	font-family:'magazine';
	-webkit-border-top-right-radius:7px;
	-webkit-border-bottom-right-radius:7px;
	-moz-border-radius-topright:7px;
	-moz-border-radius-bottomright:7px;
	border-top-right-radius:7px;
	border-bottom-right-radius:7px;	font-size:16px;
	border:none;
	float:left;
	padding:0;
	color:#333;
	background: #ccc;
}

#fields_search input[type="text"] {
	height:31px;
	margin-bottom:0;
	background:#fff;
	background:rgba(255,255,255,0.75);
	-webkit-border-top-right-radius:7px;
	-webkit-border-bottom-right-radius:7px;
	-moz-border-radius-topright:7px;
	-moz-border-radius-bottomright:7px;
	border-top-right-radius:7px;
	border-bottom-right-radius:7px;
	display:inline;
	float:left;
	width:75%;
	border:none;
}


#fields_search input[type="submit"] {
	background:#666;
	height:31px;
	width:30px;
	font-family:'magazine';
	-webkit-border-top-left-radius:7px;
	-webkit-border-bottom-left-radius:7px;
	-moz-border-radius-topleft:7px;
	-moz-border-radius-bottomleft:7px;
	border-top-left-radius:7px;
	border-bottom-left-radius:7px;
	font-size:16px;
	border:none;
	float:left;
	padding:0;
	color:#ccc;
}

#fields_search {
	margin-top: 45px;
}

#fields_search fieldset {
	border: none;
	padding:0;
}

.option-set{
	padding-right: 0;
}

/* 6.0 Homepage
----------------------------------*/
header,
body.page-template-template-tableofcontents-php #container-mid {
	background: rgba(0,0,0,.2);
}
#homepage h3 {
	font-size: 22px;
	margin-bottom: 3px;
	color: #f7f7f7;
}

#homepage p {
	font-size: 14px; 
	line-height:1.2em;
	margin-bottom: 15px;;
	color: #f7f7f7;

}

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}


article.field {
	height: 90px;
	min-height: 90px;
	margin-bottom: 20px;
	width: 235px !important;
}
#features .caption-box,
.green_bg {
	background: #006666;
}

.purple_bg,
#news .caption-box{
	background: #333366;
}

.fushia,
#insights .caption-box{
	background: #993366;
}

.yellow_bg,
#research .caption-box{
	background: #dbb003;
}

.orange_bg,
#alumni .caption-box{
	background: #cc6600;
}

.bright_blue_bg,
#exclusive .caption-box{
	background: #3399ff;
}
#homepage .row {
	width: 1040px;
}
.box {
	height:280px;
	overflow: hidden;
	position: relative;
	margin: 20px 0;
	padding: 0 10px !important;
}

.box img {
	position: absolute;
	left: 10px;
    -webkit-transition: all 500ms ease-out;
    -moz-transition: all 500ms ease-out;
    -o-transition: all 500ms ease-out;
    -ms-transition: all 500ms ease-out;
    transition: all 500ms ease-out;
	max-height: 195px;
}

.caption-box {
	z-index: 100;
	position:absolute;
	top:195px;
	width: 235px !important;
	min-height: 90px;
    -webkit-transition: all 500ms ease-out;
    -moz-transition: all 500ms ease-out;
    -o-transition: all 500ms ease-out;
    -ms-transition: all 500ms ease-out;
    transition: all 500ms ease-out;
}
.caption-box p {
	display: none;
}


.box:hover .caption-box {
transform: translate(0px, -195px);
-webkit-transform: translate(0px, -195px);
-moz-transform: translate(0px, -195px);
-o-transform: translate(0px, -195px);
-ms-transform: translate(0px, -195px);
height: 195px;
}

.box:hover .caption-box p {
	display: block;
}

.box:hover #features .caption-box {
	background: #006666; 
	background: rgba(0,102,102, .85) !important;
}

.box:hover #news .caption-box {
	background: rgb(51,51,102);
	background: rgba(51,51,102, .85) !important;
}

.box:hover #insights .caption-box {
	background: rgb(153,51,102); 
	background: rgba(153,51,102, .85) !important;
}

.box:hover #alumni .caption-box {
	background: rgb(204,102,0); 
	background: rgba(204,102,0, .85) !important;
}

.box:hover #research .caption-box {
	background: rgb(219,176,3); 
	background: rgba(219,176,3, .85) !important;
}

.box:hover #exclusive .caption-box {
	background: rgb(51,153,255); 
	background: rgba(51,153,255, .85) !important;
}

button,
.button {
	border:none;
	-webkit-border-radius:  7px;
	-moz-border-radius: 	7px;
	border-radius: 			7px;
	font-family: "Myriad W01 SmBd", Arial, sans-serif;
	color: #FFF;
	font-size: 14px;
	text-transform: uppercase;
	padding:6px 6px;
	margin-right: 8px;
	margin-bottom: 10px;
	opacity: 1;
	font-weight: normal;
	-webkit-box-shadow: none;
	-moz-box-shadow:none;
	box-shadow: none;
	display:inline-block;
	*display:inline;
}


button:hover,
.button:hover {
-moz-box-shadow: 0 0 5px #fff;
-webkit-box-shadow: 0 0 5px #fff;
box-shadow: 0px 0px 5px #fff;
 filter:progid:DXImageTransform.Microsoft.Glow(Color=white,Strength=5);    -webkit-transition: 500ms linear 0s;
    -moz-transition: 300ms linear 0s;
    -o-transition: 300ms linear 0s;
    transition: 300ms linear 0s;}


.button a,
.button a:hover,
.button a:visited {
	color: #fff;
}




/* 7.0 - Footer
----------------------------------*/
footer {
	background: #000;
	padding-top: 25px;
}


footer a,
.inline-list li a {
	color:#CCC;
}
#social-media {
	margin-top:9px;
}
#social-media a {
	content:none;
	color:#333;
	background: #555;
	-webkit-border-radius:  50%;
	-moz-border-radius: 	50%;
	border-radius: 			50%;
	padding:10px;
	margin-right:10px;
	font-size:18px
}

#social-media a:hover {
	color:#333;
	background: #CCC;
}

#menu-footer-links {
	margin-top: 15px;
}
#menu-footer-links a {
	font-size:12px;
}

#copyright p {
	text-align: center;
	font-size: 12px;
	color: #CCC;
	margin: 20px 0 0px 0;
}

#footer-top {
	background: rgba(255,255,255,.2);
	padding-bottom: 100px;
}

#footer-top h5,
#footer-top h5 a {
	color: #333;
}

/* 7.3 - Table of Contents
----------------------------------*/	
#modal_toc { background: #FFF;}

.reveal-modal-bg {
	background: rgba(0,0,0, .9);
}

#modal_toc img {
	margin: 0 7px 4px 0;
}

h2.toc_header {
	text-transform: uppercase;
	border-bottom: solid 3px;
}

h2.toc_header.features {
	color: #006666;
	border-bottom-color: #006666;
}

h2.toc_header.alumni {
	color: #cc6600;
	border-bottom-color: #cc6600;
}

h2.toc_header.departments {
	color: #06C;
	border-bottom-color: #06C;
}

h2.toc_header.exclusive {
	color: #3478b6;
	border-bottom-color: #3478b6;
}


#modal_toc li {
	font-size: 18px;
	line-height: 1em;
	list-style: circle;
	margin-bottom: 10px;
}

#modal_toc a,
#sidebar a {
	color: #333 !important;
}

#modal_toc .uppercase {
	font-size: 10px;
	color: #06c;
}

#modal_toc article.vertical {
	min-height: 275px;
}
#modal_toc article.horizontal {
	min-height: 80px;
}
#modal_toc article.horizontal h4 {
	margin-top: 0;
	font-size: 20px;
}

/* 8.0 Articles
----------------------------------*/
.postmaterial, #comments {
	padding-bottom: 100px;
}
.postmaterial ul {
	list-style: square;
	margin-left: 3.25em;
}

.postmaterial li {
	padding-bottom: 0.375em;
}

.postmaterial a,
.postmaterial a:hover
.postmaterial a:visited {
	color: #0099cc;
	font-family: 'Myriad W01 SmBd';
	text-decoration:none;
}

.postmaterial h3 {
	font-size: 36px;
}

.postmaterial h4 {
	font-size: 1.4em;
}

p.author {
	font-family: 'Myriad W01 SmBd Cnd', sans-serif;
	letter-spacing: 2px;
	text-transform: uppercase;
	margin-bottom: 3px;
	color: #06C;
	}

p.othercredits {
	font-family: 'Myriad W01 SmBd Cnd', sans-serif;
	font-style:italic;
}

.postmaterial img,
.feature-copy img {
	margin: 0;
	-webkit-box-shadow: 1px 1px 3px rgba(50, 50, 50, 0.64);
	-moz-box-shadow:    1px 1px 3px rgba(50, 50, 50, 0.64);
	box-shadow:         1px 1px 3px rgba(50, 50, 50, 0.64);
	max-width: 55%;
}

.postmaterial img.floatleft,
.postmaterial img.alignleft,
.feature-copy img.floatleft,
.feature-copy img.alignleft {
	margin-right: 10px;
	margin-bottom: 10px;
}

.postmaterial img.floatright,
.postmaterial img.alignright,
.feature-copy img.floatright,
.feature-copy img.alignright {
	margin-left: 10px;
	margin-bottom: 10px;
}

.postmaterial img.fullbleed,
.feature-copy img.fullbleed {
	max-width:100%;
}

.postmaterial .gallery img {
	max-width: none;
}
.fullbleedcaption {
	margin-bottom:50px;
}

.imageblockleft {
	float:left;
	width: 55%;
	background: #f5f4f1;
	margin-right: 1em;
	margin-bottom: 5px;
	-webkit-box-shadow: 1px 1px 3px rgba(50, 50, 50, 0.64);
	-moz-box-shadow:    1px 1px 3px rgba(50, 50, 50, 0.64);
	box-shadow:         1px 1px 3px rgba(50, 50, 50, 0.64);

}

.imageblockright {
	float:right;
	width: 55%;
	background: #f5f4f1;
	margin-left: 1em;
	margin-bottom: 5px;
	-webkit-box-shadow: 1px 1px 3px rgba(50, 50, 50, 0.64);
	-moz-box-shadow:    1px 1px 3px rgba(50, 50, 50, 0.64);
	box-shadow:         1px 1px 3px rgba(50, 50, 50, 0.64);

}

.imageblockfull {
	float:none;
	width: 95%;
	background: #f5f4f1;
	margin-bottom: 5px;
	-webkit-box-shadow: 1px 1px 3px rgba(50, 50, 50, 0.64);
	-moz-box-shadow:    1px 1px 3px rgba(50, 50, 50, 0.64);
	box-shadow:         1px 1px 3px rgba(50, 50, 50, 0.64);
	padding-bottom: 10px;

}

.imageblockrightsmall {
	float:right;
	width: 30%;
	background: #f5f4f1;
	margin-left: 1em;
	margin-bottom: 5px;
	-webkit-box-shadow: 1px 1px 3px rgba(50, 50, 50, 0.64);
	-moz-box-shadow:    1px 1px 3px rgba(50, 50, 50, 0.64);
	box-shadow:         1px 1px 3px rgba(50, 50, 50, 0.64);

}

.imageblockleft img,
.imageblockright img,
.imageblockrightsmall img,
.imageblockfull img {
	max-width:100%;
	background: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.imageblockleft p,
.imageblockright p,
.imageblockrightsmall p,
.imageblockfull p {
	margin-bottom:10px;
}

p.caption {
	font-size: 0.9em;
	line-height: 1.2em;
	padding-left: 10px;
	margin:0;
	}
p.quote {
	font-size: 0.75em;
	text-align: right;
	font-weight: bold;
	padding-left: 10px;
	margin:0;
	}
	
p.photocredit {
	float:right;
	font-size: 0.6em;
	font-style: italic;
	padding-right: 10px;
	margin:0;
	}
	
.aside {
	margin: 10px auto;
	width:70%;
	padding:1em;
	background: #f5f4f1;
	-webkit-box-shadow: 1px 1px 3px rgba(50, 50, 50, 0.64);
	-moz-box-shadow:    1px 1px 3px rgba(50, 50, 50, 0.64);
	box-shadow:         1px 1px 3px rgba(50, 50, 50, 0.64);

}

.aside h3 {
	font-size:1.875em;
	margin-bottom:1em;
}

.explore {
	font-family: 'Myriad W01 SmBd Cnd', sans-serif;
	font-weight: 400;
	}
.explore ul {
	margin-left: 1.1em;
}
.wysiwyg-read-more-link {
	font-size: 11px;
	display: block;
	width: 80px;
	clear: both;
	margin: 0 0 18px;
	background: url('../images/fall11/arrowdown.gif') no-repeat 0px 0px;
	padding-left: 25px;
}

ul[data-clearing] li.gallery-item {
	float:left;
	margin-right: 10px;
}


ul[data-clearing] li.gallery-item img {
	max-width: 100px;
}
/* 8.0 Sidebar
----------------------------------*/
#sidebar {
	margin-top: 40px;
}

#sidebar .spacer,
#footer-top .spacer {
	height: 14px;
	background: #06C;
	width: 90px;
	margin: 4px 5px 0 5px;
}

#sidebar h4,
#footer-top h4 {
	text-transform: uppercase;
	font-size: 18px;
	color: #06C;
	margin-bottom: 20px;
}

#sidebar h5 {
	font-size: 15px;
	margin-top: 0;
	margin-bottom: 4px;
}

#sidebar p {
	font-size: 12px;
	line-height: 1.4;
	margin-top: 0;
}

#sidebar img { 
	margin-right: 5px;
	margin-bottom: 10px;
}

#sidebar .Insights,
#sidebar .Insights h4 {
	color: #993366;
}

#sidebar .Insights .spacer {
	background: #993366;
}

#sidebar .Alumni,
#sidebar .Alumni h4 {
	color: #cc6600;
}

#sidebar .Alumni .spacer {
	background: #cc6600;
}

#sidebar .News,
#sidebar .News h4 {
	color: #333366;
}

#sidebar .News .spacer {
	background: #333366;
}

#sidebar .features,
#sidebar .features h4 {
	color: #006666;
}

#sidebar .features .spacer {
	background: #006666;
}

#sidebar .Research,
#sidebar .Research h4 {
	color: #dbb003;
}

#sidebar .Research .spacer {
	background: #dbb003;
}

#sidebar .table h4,
#footer-top .table h4 {
	color: #333;
}

#sidebar .table .spacer,
#footer-top .table .spacer {
	background: #333;
}

#sidebar p img,
.box span.caption img {
	display: none;
}

#disqus_thread {
	margin: 40px;
}

/* 9.0 Pages
----------------------------------*/
body.category-exclusive .postmaterial h5 {
	margin-top: 0;
	margin-bottom: 4px;
}

body.category-exclusive .postmaterial a p,
body.category-exclusive .postmaterial a:visited  {
	color: #333;
font-family:'Myriad W01 Regular';
}

.listing {
	margin-bottom: 15px;
}

#search-results ul {
	list-style: none;
}

.catarticle {
	width:90%;
	float:left;
	padding: 15px;
}

.catarticle img {
	margin-right:15px;
}

.catarticle h5 {
	font-size: 1.25em;
	margin-bottom: 0;
}

.catarticle a p{
	color: #333;
}

.subtext p img,
.catarticle p img,
.featurelisting p img {
	display:none;
}
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "magazine";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-exclusive:before { content: '\2a'; } /* '*' */
.icon-expanded-story:before { content: '\25'; } /* '%' */
.icon-slideshow:before { content: '\40'; } /* '@' */
.icon-toc3:before { content: '\3d'; } /* '=' */
.icon-home:before { content: '\5e'; } /* '^' */
.icon-link:before { content: '\5b'; } /* '[' */
.icon-comments:before { content: '\6f'; } /* 'o' */
.icon-rss:before { content: '\7d'; } /* '}' */
.icon-toc4:before { content: '\23'; } /* '#' */
.icon-video:before { content: '\e808'; } /* '' */
.icon-audio:before { content: '\3e'; } /* '&gt;' */
.icon-toc:before { content: '\3a'; } /* ':' */
.icon-toc2:before { content: '\7b'; } /* '{' */
.icon-facebook:before { content: '\66'; } /* 'f' */
.icon-twitter:before { content: '\74'; } /* 't' */
.icon-vimeo:before { content: '\76'; } /* 'v' */
.icon-search:before { content: '\30'; } /* '0' */
.icon-interview:before { content: '\e806'; } /* '' */
@charset "utf-8";
/* photoMosaic */

/* reset */
.photoMosaic,
.photoMosaic ol, .photoMosaic li, .photoMosaic img, .photoMosaic div,
.photoMosaic a:link, .photoMosaic a:visited, .photoMosaic a:active, .photoMosaic a:hover {
    background:none; outline:none; border:0; height:auto; width:auto; max-height:auto; max-width:auto; 
    min-height:none; min-width:none; font-style:normal; font-variant:normal; font-weight:normal;
    list-style:none; margin:0; padding:0; position:static; float:none; visibility:visible; 
    overflow:visible; color:#000000; letter-spacing:normal; line-height:120%; text-align:left; text-decoration:none; 
    text-indent:0; text-transform:none; vertical-align:baseline; white-space:normal; word-spacing:normal;
}

.photoMosaic { overflow:hidden; margin-bottom:20px; }
    .photoMosaic ol { list-style:none; float:left; }
    .photoMosaic ol li { list-style:none; overflow:hidden; }
    .photoMosaic ol li img { display:block; position:relative; top:0px; max-width:none; }
    .photoMosaic ol li a:hover img { opacity:0.8; }

.photoMosaic .photoMosaicLoading { background:transparent url('../img/ajax-loader.gif') 0px 0px no-repeat; padding:0 0 0 20px; line-height:20px; }

.PM_preloadify { visibility:hidden; position:absolute; bottom:5px; right:10px; }

/*! fancyBox v2.1.0 fancyapps.com | fancyapps.com/fancybox/#license */
.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp
{
	padding: 0;
	margin: 0;
	border: 0;
	outline: none;
	vertical-align: top;
}

.fancybox-wrap {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 8020;
}

.fancybox-skin {
	position: relative;
	background: #f9f9f9;
	color: #444;
	text-shadow: none;
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
	        border-radius: 4px;
}

.fancybox-opened {
	z-index: 8030;
}

.fancybox-opened .fancybox-skin {
	-webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
	   -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
	        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.fancybox-outer, .fancybox-inner {
	position: relative;
}

.fancybox-inner {
	overflow: hidden;
}

.fancybox-type-iframe .fancybox-inner {
	-webkit-overflow-scrolling: touch;
}

.fancybox-error {
	color: #444;
	font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
	margin: 0;
	padding: 15px;
	white-space: nowrap;
}

.fancybox-image, .fancybox-iframe {
	display: block;
	width: 100%;
	height: 100%;
}

.fancybox-image {
	max-width: 100%;
	max-height: 100%;
}

#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
/* 	background-image: url('../images/fancybox_sprite.png'); */
}

#fancybox-loading {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -22px;
	margin-left: -22px;
	background-position: 0 -108px;
	opacity: 0.8;
	cursor: pointer;
	z-index: 8060;
}

#fancybox-loading div {
	width: 44px;
	height: 44px;
/* 	background: url('../img/fancybox_loading.gif') center center no-repeat; */
}

.fancybox-close {
	position: absolute;
	top: -18px;
	right: -18px;
	width: 36px;
	height: 36px;
	cursor: pointer;
	z-index: 8040;
}

.fancybox-nav {
	position: absolute;
	top: 0;
	width: 40%;
	height: 100%;
	cursor: pointer;
	text-decoration: none;
	background: transparent url('../img/blank.gif'); /* helps IE */
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	z-index: 8040;
}

.fancybox-prev {
	left: 0;
}

.fancybox-next {
	right: 0;
}

.fancybox-nav span {
	position: absolute;
	top: 50%;
	width: 36px;
	height: 34px;
	margin-top: -18px;
	cursor: pointer;
	z-index: 8040;
	visibility: hidden;
}

.fancybox-prev span {
	left: 10px;
	background-position: 0 -36px;
}

.fancybox-next span {
	right: 10px;
	background-position: 0 -72px;
}

.fancybox-nav:hover span {
	visibility: visible;
}

.fancybox-tmp {
	position: absolute;
	top: -9999px;
	left: -9999px;
	visibility: hidden;
}

/* Overlay helper */

.fancybox-lock {
	overflow: hidden;
}

.fancybox-overlay {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	display: none;
	z-index: 8010;
	background: url('../img/fancybox_overlay.png');
}

.fancybox-overlay-fixed {
	position: fixed;
	bottom: 0;
	right: 0;
}

.fancybox-lock .fancybox-overlay {
	overflow: auto;
	overflow-y: scroll;
}

/* Title helper */

.fancybox-title {
	visibility: hidden;
	font: normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
	position: relative;
	text-shadow: none;
	z-index: 8050;
}

.fancybox-opened .fancybox-title {
	visibility: visible;
}

.fancybox-title-float-wrap {
	position: absolute;
	bottom: 0;
	right: 50%;
	margin-bottom: -35px;
	z-index: 8050;
	text-align: center;
}

.fancybox-title-float-wrap .child {
	display: inline-block;
	margin-right: -100%;
	padding: 2px 20px;
	background: transparent; /* Fallback for web browsers that doesn't support RGBa */
	background: rgba(0, 0, 0, 0.8);
	-webkit-border-radius: 15px;
	   -moz-border-radius: 15px;
	        border-radius: 15px;
	text-shadow: 0 1px 2px #222;
	color: #FFF;
	font-weight: bold;
	line-height: 24px;
	white-space: nowrap;
}

.fancybox-title-outside-wrap {
	position: relative;
	margin-top: 10px;
	color: #fff;
}

.fancybox-title-inside-wrap {
	padding-top: 10px;
}

.fancybox-title-over-wrap {
	position: absolute;
	bottom: 0;
	left: 0;
	color: #fff;
	padding: 10px;
	background: #000;
	background: rgba(0, 0, 0, .8);
}

/******* Pagination ******/
.pagination {
clear:both;
padding:20px 0;
position:relative;
font-size:11px;
line-height:13px;
}

.pagination span, .pagination a {
display:block;
float:left;
margin: 2px 2px 2px 0;
padding:6px 9px 5px 9px;
text-decoration:none;
width:auto;
color:#fff;
background: #555;
}

.pagination a:hover{
color:#fff;
background: #3279BB;
}

.pagination .current{
padding:6px 9px 5px 9px;
background: #3478b6;
color:#fff;
}


/* Print styles
---------------------------------------- */

/* Print styles inlined to avoid extra HTTP connection */

@media print {
	* {
		background: transparent !important;
		color: black !important; /* Black prints faster: sanbeiji.com/archives/953 */
		text-shadow: none !important;
		filter: none !important;
		-ms-filter: none !important;
	}

	a, a:visited {
		text-decoration: underline;
	}

	a[href]:after {
		content: " (" attr(href) ")";
	}

	abbr[title]:after {
		content: " (" attr(title) ")";
	}

	/* Do not show javascript and internal links */
	a[href^="javascript:"]:after, a[href^="#"]:after {
		content: ""; 
	}

	/* Printing Tables: css-discuss.incutio.com/wiki/Printing_Tables */
	thead {
		display: table-header-group;
	}

	tr, img {
		page-break-inside: avoid;
	}

	@page {
		margin: 0.5cm;
	}

	p, h2, h3 {
		orphans: 3;
		widows: 3;
	}

	h2, h3 {
		page-break-after: avoid;
	}
}



@media only screen and (max-width: 540px) {
	.button {display: block;}
}
/*
Attributions
## Font Awesome

   Copyright (C) 2012 by Dave Gandy

   Author:    Dave Gandy
   License:   SIL ()
   Homepage:  http://fortawesome.github.com/Font-Awesome/


## Linecons

   Copyright (C) 2013 by Designmodo

   Author:    Designmodo for Smashing Magazine
   License:   CC BY ()
   Homepage:  http://designmodo.com/linecons-free/


## Entypo

   Copyright (C) 2012 by Daniel Bruce

   Author:    Daniel Bruce
   License:   CC BY-SA (http://creativecommons.org/licenses/by-sa/2.0/)
   Homepage:  http://www.entypo.com


## Modern Pictograms

   Copyright (c) 2012 by John Caserta. All rights reserved.

   Author:    John Caserta
   License:   SIL (http://scripts.sil.org/OFL)
   Homepage:  http://thedesignoffice.org/project/modern-pictograms/

*/

