body {
	background-size: 100%;
}
.slide-container,
.lower-section {
	width: 100%;
	clear:both;
	padding-top: 50px;
}

.slide-content,
.lower-content {
	width:100%;
	max-width: 1000px;
	margin: 0 auto;
	display:block;
}

.left-nav {
	float:left;
	width:25%;
	margin-right: 3%;
	color: #FFF;
	min-width: 190px;
}

.bottom-nav {
	float:right;
	max-width: 1000px;`
}

h3.storynav {
	margin-top:10px;
}
.bottom-nav,
.feature-copy,
.lower-copy {
	font-family: 'MuseoSans500Regular', sans-serif;
	color: #FFF;
	font-size: 0.875em
	line-height: 1.7em;
}

.feature-copy a,
lower-copy a {
	font-family: 'Museo Sans W01 900', sans-serif;
}

.feature-copy h3,
.lower-copy h3,
.gallery h3,
.bottom-nav h3 {
	font-size: 1.500em;
}
.feature-copy h3,
.left-nav,
.left-nav h4,
.left-nav h5,
.lower-copy h3,
.gallery h3,
.bottom-nav h3	{
	font-family: 'Museo Sans W01 900', sans-serif;
}

.gallery h3,
.bottom-nav h3 {
	color: #FFF;
}
.left-nav h4 {
	text-transform: uppercase;
	font-size: 0.625em;
	margin-bottom: 15px;
}

.left-nav h5 {
	font-size: 1.125em;
	line-height:1em;
	margin-bottom: 5px;
}

.left-nav p {
	font-size: 0.750em;
	line-height: 1em;
	margin-bottom: 5px;
}

.left-nav ul,
.bottom-nav ul {
	list-style: none;
	margin-bottom: 25px;
}

.left-nav li {
	float: left;
	margin-right: 3px;
}

.bottom-nav li {
	float:left;
	margin-right:10px;
}

.left-nav li img,
.bottom-nav li img {
	margin-bottom: 3px;
}

.photocredit1,
.gallery {
	display:none;
}

.share,
.comments {
	width:100%;
	max-width: 800px;
	margin: 0 auto;
}
